.turbo-mercuric {

	.me-icon-text-wrapper {

		.me-icon-text {
			margin-top: 0;

			@media (max-width: 767px) {
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}

		> span {
			display: flex;
			flex-wrap: nowrap;

			@media (max-width: 991px) {
				flex-wrap: wrap;
			}

			> div {
				width: 33.33%;

				@media (max-width: 991px) {
					width: 50%;
				}

				@media (max-width: 767px) {
					width: 100%;
				}
			}
		}
	}

	.me-icon-text {
		display: flex;
		flex-wrap: nowrap;
		margin-top: 20px;

		&__icon {
			width: auto;
		}

		&__content {
			width: 100%;
			padding-left: 15px;

			.hs_cos_wrapper_type_inline_rich_text {

				h1, h2, h3, h4, h5 {
					margin-bottom: rem(10);
				}
			}
		}
	}
}