.turbo-mercuric {
    .me-website-pagination {
        .numer-per-page {
            display: none;
        }

        .me-load {
            cursor: pointer;
            display: block;
            max-width: 210px;
            margin: 0 auto;
            outline: none;
            text-decoration: none;
        }

        a {
            &:before {
                display: none;
            }
        }

        ul {
            display: flex;
            justify-content: center;
            width: auto;

            li {
                margin: 0 8px;
                border-radius: 5px;

                &:before {
                    display: none;
                }

                &.active {
                    border-color: hubl("$first_color");
                    background-color: hubl("$first_color");
                    a {
                        color: #FFFFFF;
                    }
                }

                &.disabled {
                    display: none;
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 5px;
                    border: 1px solid hubl("$lightGrey");
                    color: hubl("$dark");
                    text-align: center;

                    &:hover {
                        border-color: hubl("$first_color");
                    }
                }
            }
        }
    }
}