.turbo-mercuric {
    .me-portfolio-box-v4 {
        a {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            min-height: 450px;
            border: 1px solid #ebebeb;

            &:before {
                display: none;
                
            }
            &:hover {
                box-shadow: 0px 7px 11.96px 1.04px rgba(0, 0, 0, 0.14);
            }
        }

        &.reverse {
            .me-portfolio-box-v4 {
                &__image {
                    order: 2;
                }

                &__decription {
                    order: 1;
                }
            }
        }

        &__image,
        &__decription {
            width: 50%;

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        &__image {
            height: auto;
            background-size: cover;
            background-position: center center;

            @media (max-width: 768px) {
                min-height: 350px;
                height: 350px;
            }
        }

        &__decription {
            padding: 35px;

            @media (max-width: 768px) {
                padding: 35px 15px;
            }

            h5 {
                font-weight: 500;
                //color: {{ $first_color }};
                text-transform: uppercase;
                margin-bottom: 5px;
            }

            p {
                color: #000000;
                margin-bottom: 20px;
            }
        }
    }
}