.turbo-mercuric {
    .me-career-search-banner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 590px;
        display:none;

        .me-mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &__content {
            text-align: center;
            z-index: 1;

            h1, h2, h3, h4, h5, p, span , ul li {
                color: inherit;
            }
        }

        &__search-form {
            display: block;
            width: 100%;
            margin-top: 50px;

            form {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                #searchInput, #searchInput2 {
                    background-color: #FFFFFF;
                    border-radius: 30px;
                    padding: 17.5px 20px;
                    max-width: 360px;
                    margin: 0 20px;

                    @media (max-width: 1024px) {
                        margin: 20px;
                    }

                    &:focus,
                    &:active {
                        border: 1px solid #ed145b;
                    }
                }

                .me-button {
                    @include me-button;
                    @include me-button--primary;
                }
            }
        }
    }
}