.turbo-mercuric {

    .me-icon-list-wrapper {

        > span {
            display: flex;
            flex-wrap: wrap;

            > div {
                width: 25%;

                @media (max-width: 767px) {
                    width: 50%;
                    margin-bottom: 20px;
                }

                @media (max-width: 480px) {
                    width: 100%;
                }
            }
        }
    }

    .me-icon-list {
        padding-right: 10px;

        @media (max-width: 767px) {
            padding-right: 0;
        }

        &__icon {
            margin-bottom: 20px;

            i,
            svg {
                font-size: rem(70);
            }
        }


    }
}