.turbo-mercuric {
    .me-icon-cta-box-wrapper {
        > span {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media (max-width: 767px) {
                justify-content: center;
            }

            >div {
                width: 32%;

                @media (max-width: 767px) {
                    width: 45%;
                    margin: 10px;
                }

                @media (max-width: 550px) {
                    width: 100%;
                }
            }
        }
    }

    a {
        &:before {
            display: none;
        }
    }

    .me-icon-cta-box {
        display: block;
        padding-top: 40px;
        min-height: 380px;
        border: 1px solid hubl("$lightGrey");
        text-align: center;
        transition: all .3s linear;

        &__content {
            transition: all .3s ease-in-out;
            margin: 0 50px;

            p {
                font-size: 20px;
                margin-bottom: 20px;
            }
        }

        &:hover {
            background-color: hubl("$first_color");

            i {
                color: #ffffff !important;
            }

            .me-icon-cta-box {

                &__content {
                    color: #FFFFFF !important;
                }
            }
        }
    }
}