.turbo-mercuric {

    .me-progress-bar-circle-wrapper {

        >span {
            display: flex;
            flex-wrap: wrap;

            >div {
                width: 50%;

                @media (max-width: 560px) {
                    width: 100%;
                }
            }
        }
    }

    .me-progress-bar-circle {
        padding: 20px 40px;
        max-width: 260px;
        margin: auto;

        svg {
            path {
                &:nth-of-type(2) {
                    stroke: hubl("$first_color") !important;
                }
            }
        }

        &__wrapper {
            position: relative;
        }
        &__percentage {
            color: hubl("$main_font_color");
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: rem(30);
        }
        &__title {
            color: hubl("$main_font_color");
            text-align: center;
            font-size: rem(20);
            margin-top: 10px;
        }
    }
}