.turbo-mercuric {
	.me-text-video-section {
		display: flex;

		@media (max-width: 991px) {
			display: block;
		}

		&__text-column {
			width: 50%;
			float: left;

			@media (max-width: 991px) {
				width: 100%;
			}

			.text-container {
				float: right;
				max-width: 590px;
				width: 100%;
				height: 100%;
				padding: 50px 20px;
				display: flex;
				flex-direction: column;

				@media (max-width: 991px) {
					max-width: 100%;
				}

				&__content {
					margin-bottom: 10px;
				}

				&__cta {

					.cta_button {
						margin-bottom: 20px;
						margin-right: 20px;
					}
				}
			}
		}

		&__video-column {
			width: 50%;
			float: left;

			@media (max-width: 991px) {
				width: 100%;
			}

			.video-container {
				position: relative;
				height: 100%;
				overflow: hidden;

				.mask {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: hubl("$dark");
					opacity: .78;
					z-index: 2;
					transition: all .3s linear;
				}

				.video-play {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
					color: #fff;
					z-index: 3;
					opacity: 1;
					transition: all .3s linear;

					i, svg {
						font-size: 124px;

						@media (max-width: 580px) {
							font-size: 80px;
						}
					}

					&:hover {
						color: hubl("$first_color");

						&:before {
							display: none;
						}				
					}
				}

				&__video {
					height: 100%;
					min-height: 500px;

					@media (max-width: 991px) {
						min-height: 0;
					}

					video {
						display: block;
						width: 100%; 
						height: 100%;
						object-fit: cover;
						z-index: 1;
					}

					&--iframe {

						iframe {
							display: block;
							width: 100%; 
							height: 100%;
							min-height: inherit;
							//object-fit: cover;
							z-index: 1;
							background: hubl("$dark");
						}

						@media (max-width: 991px) {
							position: relative;
							padding-bottom: 56.25%;
							height: 0;
							overflow: hidden;

							iframe {
								position: absolute;
								top:0;
								left: 0;
								width: 100%;
								height: 100%;
							}
						}
					}
				}
			}

			.video-container.player-active {

				.mask {
					opacity: 0;
					visibility: hidden;
				}

				.video-play {
					opacity: 0;
					visibility: hidden;
				}
			}
		}
	}
}