.me-sidebar-category{
 ul li.hs-menu-depth-1 > a{
	width: auto;
    color:#171717;
    padding:25px 20px!important;
}
 li a{
	    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: visible;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 16px;
    color:#171717;
}
li a.active{
    background-color:#f2f4f9;
} 
ul li a{
	padding: 20px 25px;
    text-decoration: none;
}
ul li.hs-item-has-children ul.hs-menu-children-wrapper{
	visibility: visible;
    opacity: 1;
    position: static!important;
    top: 0;
    left: 0px;
    display:block!important;
    height:0px;

   
}
ul li.hs-item-has-children ul.hs-menu-children-wrapper{
	    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    position: static!important;
    z-index: 10;
    top: 0;
    left: 0px!important;
     height:inherit!important
}
ul li.hs-item-has-children ul.hs-menu-children-wrapper.active{
	visibility: visible!important;
    opacity: 1!important;
    position: static!important;
    top: 0;
    left: 0px;
    height:inherit!important;
}
.open-menu-list, .active + .hs-menu-children-wrapper{

	visibility: visible!important;
    opacity: 1!important;
    -webkit-transition: opacity 0.4s;
    position: static!important;
    z-index: 10;
    top: 0;
    display:block!important;
     height:inherit!important

}
.active:parent{
		visibility: visible!important;
    opacity: 1!important;
    -webkit-transition: opacity 0.4s;
    position: relative!important;
    z-index: 10;
    top: 0;
    display:block!important;

}
.hs-menu-wrapper.hs-menu-flow-vertical>ul li a{
	width:100%;
}
/*.sidebar-submenu li.hs-item-has-children > a:after{
    font-family: 'ClickrayIcons';
    content: "\e90e";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 30px;
    color:#ed2164;
}*/

ul{
	 
	list-style: none;
    margin: 0;
}
.active ul{
	display:block!important;
}
ul li:before{
    display:none;
}


         a:hover:before{
            border-bottom:none;
        }
      /*  a {
          &::after {
            content: " pseudo element";
            opacity: 0;
          }

          &:hover {
          &::after {
            opacity: 1;
          }
        }
*/

li a{
    
    padding-left:50px!important;

}
ul li a.active-child{
        background-color: #f2f4f9;
    color: #171717;
}

    padding-bottom:30px;

a:hover:before{
	display:none;
}
}