.turbo-mercuric {
    .me-social-icon-box {

        &__social-box {
            ul {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                margin: 30px 0;

                @media (max-width: 786px) {
                    justify-content: center;
                }

                li.me-social {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 55px;
                    float: left;

                    @media (max-width: 480px) {
                        float: none;
                        width: 100%;
                    }

                    &:before {
                        display: none;
                    }

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        font-family: FontAwesome;
                        background-color: rgba(0, 0, 0, 0.2);

                        &:before {
                            display: none;
                        }

                        i {
                            font-size: 222px;
                            color: #FFFFFF;
                        }
                    }

                    &--facebook {
                        background-color: #3b579a;

                        a {
                            background-color: #344e8a;
                        }
                    }

                    &--google {
                        background-color: #df4a32;

                        a {
                            background-color: #c8432e;
                        }
                    }

                    &--instagram {
                        background-color: #117bb6;

                        a {
                            background-color: #106fa4;
                        }
                    }

                    &--twitter {
                        background-color: #2ea3f2;

                        a {
                            background-color: #2992d9;
                        }
                    }

                    &--xing {
                        background-color: #007465;

                        a {
                            background-color: #006659;
                        }
                    }
                }


            }
        }
    }
}