.turbo-mercuric.me-header-popup-search {

    .input-wrapper {
        padding-left: 45px;
        @media (max-width: 450px) {
            padding-left: 15px;
        }
        #search-btn {
            cursor: pointer;

            svg {
                margin-top: 5px;
                width: 20px;
                height: 20px;

                .st0 {
                    transition: .2s linear stroke;
                    stroke: hubl("$dark");
                    stroke-miterlimit: 10;
                }
            }
        }

        .search-popup {
            display: none;
            position: fixed;
            z-index: 8;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: hubl_rgba("$dark", .95);
            .popup-inner {
                position: absolute;
                padding: 10px 15px;
                max-width: 100%;
                width: 700px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                align-items: flex-end;
                >span:not(.h4) {
                    width: 100%;
                }

                h4, .h4 {
                    color: #fff;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-right: 20px;
                    line-height: 1;
                    @media (max-width: 450px) {
                        display: none;
                    }
                }

                .hs-search-field {
                    position: relative;
                    width: 100%;
                    
                    &__bar {

                         form  {
                            display: flex;
                            align-items: flex-end;
                            width: 100%;
                        }
                    }

                    &__input {
                        -webkit-appearance: none;
                        background-color: transparent;
                        color: #fff;
                        border-radius: 0;
                        border: 0px;
                        outline: none;
                        border-bottom: 2px solid #fff;
                        font-size: rem(25);
                        padding: 3px 10px;
                        line-height: 1;

                        &::-webkit-input-placeholder,
                        &::-moz-placeholder, 
                        &:-ms-input-placeholder,
                        &:-moz-placeholder {
                            color: rgba(#fff, .7)
                        }

                    }

                    &__submit-button {
                        padding: 0;
                        -webkit-appearance: none;
                        border: 0;
                        background: transparent;
                        cursor: pointer;
                        width: 50px;
                        height: 50px;
                        margin-left: 15px;
                        @media (max-width: 450px) {
                            width: 35px;
                            height: 35px;
                            margin-left: 10px;
                        }
                        svg {
                            width: 50px;
                            height: 50px;
                            margin-top: 0;
                            margin-bottom: -10px;
                            @media (max-width: 450px) {
                                width: 35px;
                                height: 35px;
                                margin-bottom: -8px;
                            }
                            .st0 {
                                stroke: #fff;
                                fill: #fff;
                            }
                        }
                    }

                    &__suggestions {
                        position: absolute;
                        top: 100%;
                        list-style:none;
                        margin-top: 15px;

                        li {
                            margin-bottom: 3px;
                            &:before {
                                display: none;
                            }

                            &:first-of-type {
                                font-size: rem(20);
                            }
                        }
                    }
                }
            }
        }
    }
}