$duration: .2s;
$duration2: .4s;
$delay: .5s;

.turbo-mercuric.me-header-hamburger {
    transition: all .3s ease-in-out;
    position: relative;
    width: 37px;
    height: 25px;
    cursor: pointer;
    z-index: 4;
    div {
        position: absolute;
        right: 0;
        height: 4px;
        width: 100%;
        background: white;
        border-radius: 10px;
        &:nth-child(3) {
            top: 20px;
            transform: rotate(0deg);
            transition: top $duration cubic-bezier(.65, .24, .77, .28) $delay, transform $duration2 ease-in-out 0s, background-color .3s ease-in-out .2s, width .2s linear;
        }
        &:nth-child(2) {
            top: 10px;
            transform: rotate(0deg);
            transition: top $duration cubic-bezier(.65, .24, .77, .28) $delay, transform $duration2 ease-in-out 0s, background-color .3s ease-in-out .4s, width .2s linear;
        }
        &:nth-child(1) {
            top: 0px;
            transform: rotate(0deg);
            transition: top $duration cubic-bezier(.65, .24, .77, .28) $delay, transform $duration2 ease-in-out 0s, background-color .3s ease-in-out .6s, width .2s linear;
        }
    }
    .top-bun {
        top: 0px;
    }
    .meat {
        top: 10px;
        width: 28px;
    }
    .bottom-bun {
        top: 20px;
        width: 33px;
    } // Hamburger animation on click
    &:hover {
        .top-bun,
        .meat,
        .bottom-bun {
            width: 100%;
        }
    }
    &.hamburger-animation {
        .top-bun,
        .meat,
        .bottom-bun {
            width: 100%;
        }
        div {
            &:nth-child(3) {
                top: 10px;
                transform: rotate(315deg);
                transition: top $duration cubic-bezier(.65, .24, .77, .28) 0s, transform $duration2 ease-in-out $delay, width .2s linear;
            }
            &:nth-child(2) {
                top: 10px;
                transform: rotate(315deg);
                transition: top $duration cubic-bezier(.65, .24, .77, .28) 0s, transform $duration2 ease-in-out $delay, width .2s linear;
            }
            &:nth-child(1) {
                top: 10px;
                transform: rotate(225deg);
                transition: top $duration cubic-bezier(.65, .24, .77, .28) 0s, transform $duration2 ease-in-out $delay, width .2s linear;
            }
        }
    }
}

header.permanent-white, .header-white {

    .me-header-hamburger {

        .top-bun, .meat, .bottom-bun {
            background-color: hubl("$dark");
        }

        div {
            background-color: hubl("$dark");
        }
    }

}

body.same-logo {
    header nav .container>div .me-header-hamburger {
        div {
            background: hubl("$dark");
        }
    }
}