.turbo-mercuric {
    .me-blog-categories{
        > div {
            > div {
                display: flex;
                align-items: center;

                @media (max-width: 580px) {
                    flex-direction: column;
                }
            }
        }

        .block {
            display: flex;
            align-items: center;

            h3 {
                font-size: rem(20);
                font-weight: 500;
                margin-right: 10px;
                white-space: nowrap;
            }

            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    margin: 0 20px 10px 0;
                    transition: transform .3s ease-in-out;

                    &:hover {
                        transform: scale(1.05);
                    }

                    a {
                        &:before {
                            display: none;

                            .filter-link-count {
                                display: none;
                            }
                        }
                    }
                }
            }

            .filter-expand-link {
                display: none;
            }
        }
    }
}