.turbo-mercuric {
    .me-single-person-row-wrapper {
        > span {
            display: flex;

            @media (max-width: 1560px) {
                display: block;
            }
        }
    }
    .me-single-person-row {
        display: flex;
        flex-wrap: wrap;
        min-height: 615px;
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            height: 615px;
        }
        @supports (-ms-ime-align: auto) {
            height: 615px;
        }
        >div {
            width: 50%;
            @media (max-width: 1024px) {
                width: 100%;
            }
        }
        &--me-half {
            @media (max-width: 1024px) {
                padding: 15px;
                max-width: 100%;
            }

        }

        .light {
            .me-single-person-row {
                &__content,
                &__description {
                    h1, h2, h3, h4, h5, p, span, ul li {
                        color: #FFFFFF !important;
                    }
                }
            }
        }

        .dark {
            .me-single-person-row {
                &__description {
                    color: #000000;
                }
            }
        }

        &__avatar {
            background-size: cover;
            background-position: center center;
            @media (max-width: 1024px) {
                height: 350px;
            }
        }

        &__description-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 50px;

            @media (max-width: 1024px) {
                padding: 0;
            }

            h3 {
                margin-bottom: 43px;
            }
            h5 {
                font-weight: 400;
                margin-top: 15px;
                margin-bottom: 27px;
            }
        }

        &__content {
            margin-left: 50px;

            @media (max-width: 1024px) {
                margin-left: 0;
            }
        }

        &__social {
            display: inline-block;
            margin-left: 50px;
            margin-bottom: 15px;

            @media (max-width: 1024px) {
                margin-left: 0;
            }

            ul {
                li {
                    display: inline-block;
                    margin-top: 30px;
                    margin-right: 10px;
                    transition: all .3s ease-in-out;

                    &:last-child() {
                        margin-right: 0;
                    }

                    &:before {
                        display: none;
                    }

                    &:hover {
                        color: hubl("$first_color");
                        transform: translateY(-3px);
                    }

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;

                        &:before {
                            display: none;
                        }

                        i {
                            font-size: rem(30);
                            color: #FFFFFF;
                        }
                    }
                }
            }

        }

        &.reverse {
            .me-single-person-row {
                &__avatar {
                    order: 2;
                    
                    @media (max-width: 1024px) {
                        order: 0;
                    }
                }

                &__description-wrapper {
                    justify-content: flex-end;

                    @media (max-width: 1024px) {
                        justify-content: flex-start;
                    }
                }

                &__content {
                    margin-left: 0;
                    margin-right: 50px;

                    @media (max-width: 1024px) {
                        margin-right: 0;
                    }
                }

                &__social {
                    margin-left: 0;
                }
            }
        }

        &.featured-item {
            .me-single-person-row {
                &__description-wrapper {
                    color: #fff;
                    h5 {
                        color: #FFFFFF;
                    }
                }

                &__description {
                    color: #000000;
                }

                &__social {
                    ul {
                        li {
                            a {
                                color: #FFFFFF;
                                background-color: none !important;
                                &:hover {
                                    color: hubl("$main_font_color");
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}