
.turbo-mercuric {

    .me-subscribe-module {
        padding: 70px 0;

        .me-container {
            display: flex;
            flex-wrap: wrap;
        }
        form {
            display: flex;
            flex-wrap: nowrap;
            margin: 0;
            padding-top: 20px;

            @media (max-width: 767px) {
                flex-wrap: wrap;
            }

            > div {
                width: 100%;
            }

            .hs-submit {
                width: auto;
            }

            .hs-form-required {
                display: none;
            }

            .hs_error_rollup {
                display: none;
            }

            .hs-form-field {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            input {
                margin-top: 0;

                &[type='submit'] {
                    margin-bottom: 20px;
                    margin-top: 20px;
                    @include me-button--white;
                    padding-left: 60px;
                    padding-right: 60px;

                    &:hover {
                        color: hubl("$cta_background");
                    }
                }
            }

            .hs-form-field {
                width: 100%;
                max-width: 430px;

                input, .fake-placeholder {
                    font-size: rem(20);
                }
                
                .fake-placeholder {
                    &.has-value {
                        bottom: -36px;
                    }
                }
                input {
                    margin-top: 4px;
                    &:focus {
                        &+.fake-placeholder {
                            bottom: -36px;
                        }
                    }
                }
            }
            @media (max-width: 550px) {
                .hs-form-field {
                    max-width: 100%;
                }
            }

            .legal-consent-container {
                margin-top: 10px;
                width: 100%;
                order: 1;

                .hs-form-field {
                    margin-top: 5px;
                    margin-bottom: 10px;
                }
            }
        }
        .submitted-message {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                margin: 0;
                line-height: 1.1;
            }
        }
        h3 {
            margin-bottom: 20px;
            &.form-title {
                display: none;
            }
        }
        h3,
        h5 {
            line-height: 1.1
        }
        .text-wrapper {
            width: 100%;
            @media (min-width: 767px) {
                padding-right: 25px;
                width: 39%;
            }
        }
        .form-wrapper {
            width: 100%;
            @media (min-width: 767px) {
                width: 60%;
            }
        }
    }
}