.me-156-three-columns-1 {

	.border-right {
	    border-right: 1px solid #ebebeb;
	}

	.padding-right {
		padding-right: 2.5641%;
	}

	@media (max-width: 768px) {

		.border-left {
			border-left: none;
		}

		.border-right {
			border-right: none;
		}
	}
}