.turbo-mercuric {
    .me-text-subscribe-full-size {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 100%;

        @media (min-width: 786px) {
            height: 100vh;
        }

        &__content,
        &__form {
            display: block;
            width: 50%;

            @media (max-width: 768px) {
                width: 100%;
                padding-bottom: 30px;
            }
        }

        &__content {
            position: relative;
            display: flex;
            justify-content: flex-end;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        &__content-wrapper {
            position: relative;
            display: block;
            max-width: 585px;
            padding: 0 15px;
            margin-right: 30px;

            h1, h2, h3, h4, h5, h6, p, span, ul li {
                color: inherit;
            }

            h1 {
                margin-bottom: 30px;
            }

            i {
                font-size: 220px;
                color: inherit;
                margin: 100px 0;
            }

            img {
                margin: 100px 0;
            }
        }

        &__mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &__form {
            display: flex;
            flex-direction: column;
        }

        &__header-form {
            margin: 100px 0 30px;

            h1 {
                margin: 20px 0;
            }
        }

        &__header-form,
        &__wrapper-form {
            position: relative;
            display: block;
            max-width: 585px;
            width: 100%;
            padding: 0 15px;
            margin-left: 30px;

            @media (max-width: 768px) {
                margin-left: 0;
            }
        }

        &__wrapper-form  {
            .input,
            input {
                width: 100%;
            }
        }
    }

    .reverse {
        flex-direction: row-reverse;

        .me-text-subscribe-full-size {
            &__content {
                justify-content: flex-start;
            }

            &__content-wrapper {
                margin-left: 30px;

                @media (max-width: 768px) {
                    margin-left: 0;
                }
            }

            &__form {
                align-items: flex-end;

                @media (min-width: 768px) and (max-width: 1300px) {
                    padding: 0 30px;
                }
            }

            &__header-form,
            &__wrapper-form {
                margin-right: 30px;

                @media (max-width: 768px) {
                    margin-right: 0;
                }
            }
        }
    }
}