.turbo-mercuric {
    .me-text-form-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &__wrapper {
            width: 100%;
            &__left,
            &__right {
                width: 50%;
                padding: 50px;
                @media(max-width: 768px) {
                    width: 100%;
                    padding: 15px;
                }
                .container-box {
                    max-width: 570px;
                    width: 100%;
                    @media(max-width: 768px) {
                        padding: 30px 0;
                    }
                    h5 {
                        text-transform: uppercase;
                    }
                    h1,
                    h5 {
                        padding-bottom: 30px;
                    }
                }
            }
            &__left {
                background-color: #FFFFFF;
                justify-content: flex-end;
                h1 {
                    margin-bottom: 50px;
                }
                img {
                    display: block;
                    margin: 50px auto;
                }
            }
            &__right {
                background-color: #ed145b;
                h5 {
                    span {
                        color: #FFFFFF;
                    }
                }
                h1 {
                    color: #FFFFFF;
                }
                form {
                    input {
                        color: #FFFFFF;
                        border-bottom: 1px solid #FFFFFF;
                        margin-bottom: 20px;
                        &::placeholder {
                            color: #FFFFFF;
                        }
                    }
                    ul {
                        li {
                            label {
                                color: #FFFFFF;
                            }
                        }
                    }
                    input[type="submit"] {
                        border: 1px solid #FFFFFF;
                    }
                }
            }
        }
    }
}