.turbo-mercuric {
    .me-blog {
        .input-wrapper {
            display: block;
            position: relative;

            @media (max-width: 1170px) {
                margin: 20px 0;
                top: 0;
            }

            input {
                appearance: none;
                background-color: transparent;
                margin: 0;
                border: none;
                // color: #b7b7b7;
                color: hubl("$lightGrey");
                font-size: 1rem;
                border: 1px solid #ebebeb;
                border-radius: 25px;
                line-height: 2.25rem;
                padding: 10px 50px 10px 10px;
                text-align: left;
                transition: all .3s ease-in-out;

                &::placeholder {
                    color: #b7b7b7;
                    opacity: 1;
                }

                &:hover {
                    box-shadow: 0px 4px 15px -8px rgba(0, 0, 0, 0.75);
                    border: 1px solid hubl("$first_color");
                }

                #search-btn {
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                    width: 20px;
                    height: 20px;

                    svg {
                        display: block;
                        stroke: hubl("$first_color");
                        fill: hubl("$first_color");
                    }
                }
            }
        }
    }
}