.turbo-mercuric {
    .me-hide {
        display: none;
    }

    .me-job-offer-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 40px 65px;
        border-bottom: 1px solid #ebebeb;
        transition: all 0.2s ease-in;

        @media (max-width: 768px) {
            padding: 40px 30px;
        }

        &:hover {
            -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
            border-radius: 100px;
            transform: all 0.2s ease-in;
        }

        &__job-title {
            max-width: 200px;
            width: 100%;
            h5 {
                font-weight: 600;
                margin-bottom: 10px;

                span {
                    font-weight: 300;
                }
            }

            .me-keywords {
                display: none;
            }
        }

        &__location {
            display: flex;
            align-items: center;

            @media (max-width: 768px) {
                margin: 10px 0 20px;
            }

            i {
                font-size: 25px;
                margin-right: 10px;
            }
        }
    }
}