.turbo-mercuric {
    .me-case-study-boxes {
        >span {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            @media (max-width: 767px) {
                flex-direction: column;
            }
            @media (min-width: 768px) and (max-width: 992px) {
                justify-content: space-between;
            }
            >div {
                @media (min-width: 767px) and (max-width: 992px) {
                    width: 50%;
                }
            }
        }
    }

    .me-case-study-box {
        display: block;
        width: 100%;
        overflow: hidden;
        margin: 0 10px 30px;
        max-width: 360px;
        transition: all .4s ease-in-out;

        @media (max-width: 768px) {
            max-width: 100%;
            margin: 0;
            margin-bottom: 30px;
        }

        @media(min-width: 768px) and (max-width: 992px) {
            max-width: 400px;
            margin: 0 auto;
            margin-bottom: 30px;
        }

        &--border {
            border: 1px solid #ebebeb;
            &:hover {
                box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.3);
            }
        }

    }

    .me-box {
        &__content,
        &__wrapper-button {
            display: block;
        }

        &__image {
            img {
                display: block;
                width: 100%;
            }
            &--wrapper_icon {
                margin-bottom: 0;
                img {
                    max-width: 120px;
                    margin: 20px 20px 0;
                }
            }
        }

        &__content {
            padding: 20px;
            margin-bottom: 0;
            h5 {
                margin-bottom: 20px;
            }
        }
        
        &__wrapper-button {
            padding: 0 20px 30px;
        }
    }
}