.turbo-mercuric {

    // slaiders wrapper
    .me-hero-banner-slider {
        position: relative;
    }

    // main slider
    .me-hero-banner-main-slider {

        .hs_cos_wrapper_type_custom_widget {
            display: none;

            &:first-of-type {
                display: block;
            }
        }

        .me-hero-banner-slide {
            padding-top: 100px;
            padding-bottom: 220px;

            @media (max-width: 480px) {
                padding-bottom: 100px;
            }
        }

        .slick-initialized {

            .hs_cos_wrapper_type_custom_widget {
                display: block;
            }
        }
    }

    .me-hero-banner-slide {
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        min-height: 500px;
        height: 100vh;

        .me-mask {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .77;
        }

        &__content {
            position: relative;
        }

        &__content-subheader {
            margin-bottom: 30px;

            @media (max-width: 560px) {
                margin-bottom: 15px;
            }
        }

        &__content-header {
            margin-bottom: 40px;

            @media (max-width: 560px) {
                margin-bottom: 20px;
            }
        }

        &__content-description {
            margin-bottom: 40px;

            @media (max-width: 560px) {
                margin-bottom: 20px;
            }
        }

        &__content-cta-wrapper {

            .cta_button {
                margin: 10px;
            }
        }
    }

    // bottom slider
    .me-hero-banner-nav-slider {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        @media (max-width: 480px) {
            position: relative;
            bottom: unset;
            left: unset;
        }

        &.slick-initialized {

            .slick-list {
                display: flex;

                @media (max-width: 767px) {
                    display: block;
                }
            }

            .slick-track {
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;

                @media (max-width: 767px) {
                    align-items: flex-end;
                    
                }
            }

            .me-hero-banner-nav-slide {
                background-color: #fff;
                display: flex !important;
                border: 1px solid hubl("$lightGrey");
                margin: 0;

                @media (max-width: 991px) {
                    flex-wrap: wrap;
                }

                &.slick-current,
                &.fake-current,
                &:hover {
                    background-color: hubl("$first_color");
                    border-color: hubl("$first_color");

                    * {
                        color: #fff;
                    }
                }
            }
        }
    }

    .me-hero-banner-nav-slide {
        padding: 30px;
        transition: .3s linear all;
        display: none;
        margin: 0 auto;
        width: 33.33vw;
        opacity: 0;

        @media (max-width: 1300px) {
            padding: 30px 15px;
        }

        @media (max-width: 991px) {
            width: 50vw;
        }

        @media (max-width: 767px) {
            width: 100vw;
        }


        &:hover {
            cursor: pointer;
        }

        &--visible {
            opacity: 1;
        }

        &__icon {
            width: 60px;
            margin-bottom: 10px;
            
            i, svg {
                color: hubl("$dark");
                transition: all .2s linear;
            }
        }

        &__text {
            width: calc(100% - 60px);

            h1, h2, h3, h4, h5, h6 {
                margin-bottom: 10px;
            }
        }
    }
}