.turbo-mercuric {
    .me-icons-video-banner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 100px 0 300px;

        @media (max-width: 767px) {
            padding-bottom: 200px;
        }

        @media (max-width: 480px) {
            padding-bottom: 140px;
        }

        &__container {
            max-width: 850px;
        }

        &__content {
            display: block;
            width: 100%;
        }

        &__boxes {
            position: relative;
            margin: 50px 0;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            @media (max-width: 767px) {
                justify-content: center;
                flex-wrap: wrap;
            }

            .line {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: auto;
                padding: 10px 35px;

                @media (max-width: 767px) {
                    display: none;
                }
            }
        }

        &__box {
            display: block;
            max-width: 260px;
            padding: 0 15px;
            margin-bottom: 30px;
            text-align: center;

            i {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 100px;
                background-color: #FFFFFF;
                border-radius: 50%;
                font-size: 80px;
                text-align: center;
                margin: 0 auto 20px;
            }
        }

        &__video-wrapper {
            margin-top: -300px;

            @media (max-width: 767px) {
                margin-top: -200px;
            }

            @media (max-width: 480px) {
                margin-top: -140px;
            }
        } 
    }
}