.turbo-mercuric {
    .me-single-person-circle-wrapper {
        > span {
            display: flex;
            flex-wrap: wrap;

            > div {
                width: 33.33%;

                @media (max-width: 1024px) {
                    width: 50%;
                }

                @media (max-width: 650px) {
                    width: 100%;
                }
            }
        }
    }

    .me-single-person-circle {
        position: relative;
        display: block;
        width: calc(100% - 30px);
        left: 15px;
        padding-bottom: 100%;

        &__wrapper-outer {
            position: absolute;
            width: 100%;
            border-radius: 50%;

            .avatar-wrapper {
                position: relative;
                display: block;
                width: 100%;
                top: 0;
                left: 0;
                border-radius: 50%;
                overflow: hidden;
                transition: box-shadow 0.4s;

                &:hover {
                    box-shadow: 0px 5px 9.9px 0.1px rgba(35, 31, 32, 0.19);

                    .avatar {
                        transform: scale(1.1);
                    }
                }

                .avatar {
                    background-size: cover;
                    background-position: center center;
                    transition: transform .6s;
                    padding-bottom: 100%;
                    width: 100%;
                    transform: scale(1);
                }
            }

            a {
                &:before {
                    display: none;
                }
            }
        }

        &__social {
            position: absolute;
            display: block;
            z-index: 500;
            background-color: hubl("$first_color");
            left: 50%;
            bottom: -10px;
            opacity: 1;
            transition: 0.4s all 0s;
            transform: translateX(-50%);
            padding: 15px 30px;
            border-radius: 50px;

            ul {
                display: flex;

                li {
                    position: relative;
                    margin: 0 10px;

                    svg, i {
                        color: #FFFFFF;
                        transition: all .3s ease-in-out;

                        &:hover {
                            transform: translateY(-5px);
                            opacity: 0.5;
                        }
                    }
                }
            }
        }

        &__description-wrapper {
            padding-top: 100%;
            padding-bottom: 40px;
            text-align: center;

            h4 {
                font-size: rem(20);
                font-weight: 400;
                padding-top: 30px;
            }

            h3 {
                color: hubl("$first_color");
                font-size: rem(25);
                font-weight: 600;
                line-height: 2;
            }
        }
    }
}