.turbo-mercuric {

    .me-text-background-image {
        padding-top: 20px;

        &__content {
            background-size: contain;
            background-position: center right;
            background-repeat: no-repeat;
            position: relative;

            i {
                display: block;
                position: absolute;
                font-size: 230px;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                z-index: -1;
                color: hubl("$dark");
                opacity: .02;
            }
        }
    }
}