.turbo-mercuric {

    .me-text-image-section {
        display: block;
        width: 100%;
        position:relative;
        display: flex;
        flex-wrap: nowrap;

        @media (max-width: 767px) {
            width: 100%;
            flex-wrap: wrap;
        }

        &__background {
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 50%;
            min-height: 360px;

            .me-mask {
                height:100%;
                width:100%;
                display: block;
                position: absolute;
            }

            @media(max-width: 768px) {
                width: 100% !important;
            }
        }

        &__content {
            padding: 130px 100px;
            width: 50%;
            min-width: 540px;

            @media(max-width: 768px) {
                padding: 30px;
                width: 100% !important;
                min-width: 0;
            }

            .me-text-content {
                max-width: 1040px;

                @media (max-width: 767px) {
                    float: none;
                    max-width: none !important;
                }
            }
        }

    &--left {

        .me-text-image-section__background {
            order: 1;
        }

        .me-text-image-section__content {
            order: 2;

            .me-text-content {
                float: left;
            }
        }
    }

    &--right {

        .me-text-image-section__background {
            order: 2;
        }

        .me-text-image-section__content {
            order: 1;

            .me-text-content {
                float: right;
            }
        }
         &__map {
             padding:0px;
             min-width:540px;
         }
         .half-container{
                max-width: calc(585px + 10%);
                padding: 20px 60px 20px 20px;
                width: 100%;
         }
         .mask{
            height:100%;
            width:100%;
            display: block;
            position: absolute;
        }
        a:not(.cta_button):before{
            content:"";
            display:none;
        }
    }
    }
}