.turbo-mercuric {

	.me-form-background-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: auto;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
		padding: 90px 15px;

		@media (max-width: 767px) {
			justify-content: start;
			background-size: contain;
		}

		&__container.me-container {
			padding: 70px;
			box-shadow: 0px 5px 50px -4px rgba(0,0,0,0.5);
			margin-bottom: 120px;
			background: #fff;

			@media (max-width: 767px) {
				padding: 50px 30px;
				margin-bottom: 60px;
			}

			@media (max-width: 480px) {
				padding: 50px 15px;
				margin-bottom: 0;
			}
		}

		&__content {
			width: 100%;
		}

		&__form {
			padding-top: 30px;

			@media (max-width: 767px) {
				padding-top: 0;
			}

			.hs-form-field {
				margin-bottom: 40px;

				@media (max-width: 767px) {
					margin-bottom: 0;
				}
			}

			input[type="submit"] {
				display: block;
				margin: 50px auto 0;
			}
		}
	}
}