.me-121-pricing-2{
		.first-section,.third-section{
	h1{
		text-align:center;

	}
	.widget-type-rich_text{
		text-align:center;
		max-width:350px;
		margin:auto;
		font-size:16px;
	}
	.slick-initialized {
		.slick-slide{
			display:inline-block;
			text-align:center;
		}
	}
	.client-logo-slider{
		padding-top:50px;
		border-top:1px solid #ebebeb;
	}
}
.third-section{
	.widget-type-rich_text{
		max-width:600px;
		margin-top:50px;

	}
}
.second-section {
  color: #fff;
  padding: 70px 0;
  background-color: hubl("$first_color"); 

   .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; 

}
.slick-slide{
	visibility:hidden;
	transition: 0.3s all linear;
	transform: translateX(-300px) scale(0.1);

}
.elo1,.elo2{
	visibility:visible;
	opacity:0.7;
	transform:scale(0.9);
	z-index:1;
}
.elo1{
	transform: translateX(-300px) scale(0.9);

}
.elo2{
	transform: translateX(300px) scale(0.9);

}
.slick-center{
		visibility:visible;
	transform:scale(1.0);
	opacity:1;
	z-index:3;
	position:relative;
	z-index:3;
}
}
.accordion-wrapper {
	margin-top:60px;
    & > span > div {
        &:after {
            display: block;
            content: '';
            border-bottom: 1px solid #f2f2f2;
        }

        &:last-of-type {
            &:after {
                display: none;
                content: '';
                border-bottom: 0px;
            }
        }

        &:first-of-type {
            .accordion-panel.open  {
                .header {
                    margin-top: 0;
                }
            }
        }
    }
}

.accordion-panel {

    width: 100%;

    .header {
    	position:relative;
    	width:100%;
    	cursor: pointer;
        max-width: 100%;
        border-radius: 0px;
	    padding: 0;
	    padding-top:20px;
	    padding-bottom:20px;
	    box-shadow: none;
	    transition: 0.3s all linear;
	    margin-bottom: 0px;
	    display: inline-block;
        border-radius: 50px;
        h3{
		    font-size: 18px;
		    max-width:80%;
        }
    }
    .header:after{
    	content:"+";
    	position: absolute;
	    right: 10px;
	    top: 3px;
	    font-size:35px;
	    color: hubl("$first_color"); 
    }
    .body {
        display: none;
        max-width: 100%;
        margin: 0 auto;
        padding-bottom:30px;
        p,
        span,
        ul,
        ol {
            width: 100%;
            display: block;
            color: hubl("$second_font_color");
        }
    }
    &.open {
        .header {
      		
            margin-top: 30px;
	        border:none;
	        h3 {
	            font-size: 18px;
	        }
        }
          .header:after{
    			content:"-";
    	}
    }
}
}