
 .question-v2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  .question-v2 .turbo-mercuric {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    -webkit-logical-height: unset; }
  .question-v2 .span6 {
    width: 100%; }
    .question-v2 .span6 img {
      right: 0px;
      position: absolute; }
    @media (min-width: 1550px) {
      .question-v2 .span6 img {
        position: relative !important; } }
  @media (max-width: 1023px) {
     .question-v2 {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }
   .question-v2 .left {
    width: 100%;
    padding: 95px 0px; }
    @media (max-width: 1023px) {
      .question-v2 .left {
        width: 100%;
        padding: 95px 0px 0px 0px; } }
     .question-v2 .left .half-container {
      margin-right: 0px;
      margin-left: auto; }
      @media (max-width: 1023px) {
         .question-v2 .left .half-container {
          max-width: 100%;
          margin: 0 auto; } }
     .question-v2 .left .widget-type-rich_text {
      margin-bottom: 35px; }
      .question-v2 .left .widget-type-rich_text h4 {
        color: #ed145b;
        font-weight: 400;
        font-size: 1.25rem;
        margin-bottom: 20px; }
     .question-v2 .left .widget-type-rich_text h2 {
        font-weight: 400;
        line-height: 3.25rem;
        margin-bottom: 30px; }
      .question-v2 .left .widget-type-rich_text p {
        color: #b7b7b7; }
  .question-v2 .right {
    margin-left: 60px;
    width: 50%;
    background-position: center right;
    -moz-background-size: 100%;
      -o-background-size: 100%;
         background-size: 100%;
    background-repeat: no-repeat; }
     .question-v2 .right .inner-img {
      display: none; }
    @media (max-width: 1023px) {
      .question-v2 .right {
        width: 100%;
        margin-left: 15px;
        background: none !important;
        margin-bottom: 50px; }
        .question-v2 .right .inner-img {
          display: block;
          margin-right: 0px;
          margin-left: auto; } }

 .accordion-wrapper > span > div:after {
  display: block;
  content: '';
  border-bottom: 1px solid #f2f2f2; }

.accordion-wrapper > span > div:last-of-type:after {
  display: none;
  content: '';
  border-bottom: 0px; }

.accordion-wrapper > span > div:first-of-type .accordion-panel.open .header {
  margin-top: 0; }

  .accordion-panel.open .header h3{

  	color:white!important;
  }

 .accordion-panel {
  width: 100%; }
  .accordion-panel .header {
    cursor: pointer;
    max-width: 100%;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
    padding: 0;
    text-transform: uppercase;
    padding: 25px 45px;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    -webkit-transition: 0.3s all linear;
    -o-transition: 0.3s all linear;
    -moz-transition: 0.3s all linear;
    transition: 0.3s all linear;
    margin-bottom: 0px;
    display: inline-block;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px; }
    .accordion-panel .header h3 {
      text-transform: uppercase;
      font-size: 16px; }
   .accordion-panel .body {
    display: none;
    padding: 0px 15px;
    max-width: 100%;
    margin: 0 auto; }
    .accordion-panel .body p,
     .accordion-panel .body span,
   .accordion-panel .body ul,
    .accordion-panel .body ol {
      width: 100%;
      display: block;
      color: #b7b7b7; }
.accordion-panel.open .header {
    background: #ed145b;
    -webkit-box-shadow: 0px 0px 16.56px 1.44px rgba(100, 22, 48, 0.4);
       -moz-box-shadow: 0px 0px 16.56px 1.44px rgba(100, 22, 48, 0.4);
            box-shadow: 0px 0px 16.56px 1.44px rgba(100, 22, 48, 0.4);
    padding: 25px 45px;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    border: none; }
    .me-154-two-columns-4-simple-banner .accordion-panel.open .header h3 {
      color: #fff;
      font-size: 16px; }
