.turbo-mercuric {
    .me-thanks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--space {
            margin-bottom: 50px;
        }
        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 275px;
            height: 275px;
            border: 3px dotted #f79ab8;
            border-radius: 50%;
            i {
                font-size: 100px;
                color: #ed145b;
            }
        }
        p {
            max-width: 660px;
            text-align: center;
            padding: 0 15px;
            margin: 30px 0 80px;
        }
    }
}