.turbo-mercuric {
    .me-resource-box-v1-wrapper {
        >span {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            @media (max-width: 1170px) {
                justify-content: center;
            }

            > div {
                margin: 30px 10px;
            }
        }
    }

    .me-resource-box-v1 {

        &:hover {
            .me-resource-box-v1 {
                &__image {
                    transform: scale(1.05);
                    transition: all 0.3s linear;
                }

                &__image,
                &__video {
                    box-shadow: 0px 0px 39.56px 3.44px rgba(100, 22, 48, 0.2);
                }
            }
        }

        &__image,
        &__video {
            position: relative;
            background-position: center;
            background-repeat: no-repeat;
            width: 230px;
            height: 360px;
            margin: 0 auto;
        }

        &__image {
            background-size: cover;
            transition: all 0.3s linear;
        }

        a {
            display: block;
            margin: 0 auto;

            &:before {
                display: none;
            }
        }

        &__video {
            .play_icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 3;

                i {
                    color: inherit;
                    transition: transform 0.3s ease-in-out;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }

        &__mask {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
        }

        &__content {
            display: block;
            min-width: 350px;
            width: 100%;
            padding: 65px 0 30px 0;
            text-align: center;
            margin-top: -30px;

            h1, h2, h3, h4, h5, h6, p, span, ul li {
                color: inherit;
            }

            h3 {
                font-size: rem(18);
                font-weight: 400;
            }

            p {
                font-size: rem(18);
                font-weight: 300;
            }
        }
    }
}