.turbo-mercuric {

	.me-tab-panels {

	    &__nav {
	        border-bottom: none;
	        text-align: center;

	        > li {
	            border-bottom: 1px solid #ebebeb;
	            display: inline-block;
	            transition: all .3s linear;

	            @media (max-width: 660px) {
	            	width: 50%;
	            }

	           	@media (max-width: 480px) {
	            	width: 100%;
	            }

	            &:before {
	            	display: none;
	            }

	            i, svg {
	            	color: hubl("$second_font_color");
	            	font-size: inherit;
	            	margin-right: 10px;
	            	line-height: inherit;
	            	vertical-align: bottom;
	            	transition: all .3s linear;
	            }

	            a {
	            	position: relative;
	                color: hubl("$second_font_color");
	                border: none;
	                margin: 0;
	        		padding: 15px 45px;

	                &:hover {
		                color: hubl("$first_color");

		                i, svg {
		                	color: hubl("$first_color");
		                }
	                }

	                &:before {
	                	display: none;
	                }
	            }

	            &:hover {
	            	border-bottom: 1px solid hubl("$first_color");
	            }
	        }

	        > li.active {
	            border-bottom: 1px solid hubl("$first_color");

	            a, i, svg {
	                color: hubl("$first_color");
	            }
	        }
	    }

	    &__main {
		    width: 100%;
		    padding-top: 90px;
		    padding-bottom: 90px;
		    margin: 0;
		    margin-left: 0 !important;

			@media (max-width: 767px) {
				padding-top: 40px;
		    	padding-bottom: 40px;
			}

			.hs_cos_wrapper_type_custom_widget {
				display: none;

				&:first-of-type {
					display: block;
				}
			}
		}
	}

	.me-tab-panel {
		display: flex;
		flex-wrap: wrap;

		&__image {
			width: 50%;
			padding: 0 10px;
			text-align: center;

			img {
				box-shadow: 0px 5px 19.11px 1.89px rgba(0, 0, 0, 0.11);
			}

			@media (max-width: 767px) {
				width: 100%;
			}
		}

		&__text {
			color: hubl("$main_font_color");
			width: 50%;
			padding: 30px 20px 0px;

			@media (max-width: 767px) {
				width: 100%;
			}
		}

	&.image-position-left {
		.me-tab-panel__image {
			order: 1;
		}

		.me-tab-panel__text {
			order: 2;
		}
	}

	&.image-position-right {
		.me-tab-panel__image {
			order: 2;

			@media (max-width: 767px) {
				order: 1;
			}
		}

		.me-tab-panel__text {
			order: 1;

			@media (max-width: 767px) {
				order: 2;
			}
		}
	}

	}
}