.turbo-mercuric {
.me-clock-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--size {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;

        @media(max-width: 992px) {
            height: 100%;
        }

        @media(min-height: 900px) {
            height: 100vh;
        }
    }

    &--mask {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #292935;
        opacity: .78; 
    }

    &__logo {
        margin: 50px 0;
        z-index: 1;

        img {
            display: block;
            max-width: 145px;
        }
    }

    h2 {
        color: #FFFFFF;
        z-index: 1;
        text-align: center;
        margin-bottom: 50px;
    }

    .clock {
        display: block;
        position: relative;
        z-index: 1;

        @media (min-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center; 
        }

        &--size {
            width: 100%;
            max-width: 770px;
        }

        span {
            display: block;
            float: left;
            margin: 0 5px;
            color: #FFFFFF;
            text-align: center;
            width: 20%;

            strong {
                display: block;
                font-size: 100px;
                font-weight: 400;
                padding: 0;
                margin: 0;
                line-height: 110px;
                width: 100%;
            }

            small {
                display: block;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 400;
                padding: 0;
                margin: 0;
                margin-top: 5px;
            }
        }

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5%;
            height: 100%;
            margin: 0;
            padding: 0;
            float: left;
            font-size: 20px;
            margin-top: -40px;
            color: #FFFFFF;

            &:nth-of-type(1) {
                margin-left: 40px;
            }

            @media(max-width: 768px) {
                &:nth-of-type(1) {
                    margin-left: 0;
                }
            }
        }
    }

    &--content {
        display: block;
        max-width: 600px;
        font-size: 20px;
        color: #FFFFFF;
        text-align: center;
        z-index: 1;

        @media (max-width: 768px) {
            margin: 50px 15px;
        }
    }

    &--form {
        display: block;
        max-width: 560px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;

        > span {
            display: block;
            width: 100%;
            margin: 30px auto;
        }

        form {
            position: relative;
            z-index: 1;

            input {
                width: 100%;
                background-color: #FFFFFF;
                border-radius: 30px;
                min-height: 60px;
                padding-right: 155px !important;
                box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
                    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
            }

            .actions {
                input {
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 0;
                    padding: 0 !important;
                    min-width: 150px;
                    max-width: 150px;
                    min-height: 60px;
                    box-shadow: none;
                }
            }
        }
    }


    @media(max-width: 768px) {
        .clock p {
            display: none;
        }
    }

    @media (max-width: 768px) {
        .clock {
            flex-wrap: wrap;
        }

        .clock span {
            margin: 0;
            width: 50%;
        }
    }

    @media (max-width: 480px) {
        .clock span strong{
            font-size: 70px;
        }
    }    
}
}