.turbo-mercuric {
    a {
        &.cta_button {
            text-decoration: none;
            box-sizing: border-box !important;
            margin-bottom: 20px;
            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
                &:before {
                    display: none;
                }
            }
        }
        &.me-cta-primary,
        &.me-cta-secondary,
        &.me-cta-tertiary,
        &.me-cta-white {
            @include me-button;
        }
        &.me-cta-primary {
            @include me-button--primary;
        }
        &.me-cta-secondary {
            @include me-button--secondary;
        }
        &.me-cta-tertiary {
            @include me-button--tertiary;
        }
        &.me-cta-white {
            @include me-button--white;
        }
        &.btn-filter {
            @extend .me-cta-primary;
            min-width: 0;
            font-size: rem(16);
            padding: 5px 27px;
            font-weight: 600;
            border-width: 1px;
            &:hover {
                background: transparent;
                color: hubl("$first_color");
                transform: none;
                box-shadow: none;
            }
            &.active {
                background: transparent;
                color: hubl("$first_color");
                box-shadow: none;
            }
        }
    }
}