.turbo-mercuric {
    form {
        color: hubl("$secondary_text"); // Placeholders
         ::-webkit-input-placeholder {
            color: hubl("$secondary_text");
        }
         ::-moz-placeholder {
            color: hubl("$secondary_text");
        }
         :-ms-input-placeholder {
            color: hubl("$secondary_text");
        }
         :-moz-placeholder {
            color: hubl("$secondary_text");
        } // Fake Placeholders
        input {
            &+.fake-placeholder {
                position: absolute;
                padding-left: 15px;
                z-index: 100;
                bottom: 10px;
                font-weight: 300;
                left: 0;
                transition: .3s all;
                color: hubl("$second_font_color"); // test
                &.has-value {
                    bottom: -33px;
                    color: hubl("$first_color");
                }
            }
            &:focus {
                &+.fake-placeholder {
                    bottom: -33px;
                    color: hubl("$first_color");
                }
            }
        } // Spacing 
        textarea {
            &+.fake-placeholder {
                position: absolute;
                left: 0;
                top: 10px;
                z-index: 100;
                font-weight: 300;
                padding-left: 15px;
                transition: .3s ease-in-out all;
                color: hubl("$second_font_color");
                &.has-value {
                    top: 100%;
                    color: hubl("$first_color");
                }
            }
            &:focus {
                &+.fake-placeholder {
                    top: 100%;
                    color: hubl("$first_color");
                }
            }
        }
        fieldset {
            max-width: 100% !important;
            &.form-columns-2 {
                >div {
                    &:nth-child(odd) {
                        padding-right: 15px;
                    }
                    &:nth-child(even) {
                        padding-left: 15px;
                    }
                }
            }
        }
        .input {
            position: relative;
            margin-right: 0 !important;
        }
        .hs-form-field {
            margin: 35px 0 10px 0;
        } // Inputs file fake 
        .inputfile-fake {
            position: relative;
            .input {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid hubl("$secondary_text");
                color: hubl("$main_font_color");
                font-size: rem(16);
                border-radius: 0;
                padding-left: 0px!important;
                &:after {
                    position: absolute;
                    content: '+';
                    color: hubl("$first_color");
                    font-size: rem(24);
                    right: 0px;
                    top: 5px;
                }
            }
        }
        .file-name {
            position: absolute;
            z-index: 200;
            top: 12px;
            left: 35px;
            overflow: hidden;
            height: 24px;
            width: 85%;
            color: hubl("$main_font_color");
            @media (max-width: 767px) {
                left: 15px;
            }
        }
        
        textarea,
        input[type="text"],
        input[type="password"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="date"],
        input[type="month"],
        input[type="time"],
        input[type="week"],
        input[type="number"],
        input[type="email"],
        input[type="url"],
        input[type="search"],
        input[type="tel"],
        input[type="color"],
        select {
            width: 100%;
        }

         // Inputs 
        input {
            background-color: transparent;
            margin: 0;
            border: none;
            border-bottom: 1px solid hubl("$secondary_text");
            color: hubl("$main_font_color");
            font-size: rem(16);
            border-radius: 0;
            &:focus {
                border-bottom: 1px solid hubl("$first_color");
            } // Submit
            &[type=submit] {
                cursor: pointer;
                @include me-button--primary;
                margin: 40px 0 10px 0;
                background-color: hubl("$cta_background");
                color: white;
                padding: 17.5px 65px;
                font-size: rem(18);
                border-radius: 100px;
                border: 2px solid hubl("$cta_background"); // box-shadow: 0px 0px 14.24px 1.76px rgba(237, 20, 91, 0.32);
                transition: all 0.3s ease 0s;
                -webkit-appearance: none;
                min-height: 60px;
                font-weight: 600;
                &:hover {
                    background-color: hubl("$cta_hover_dark");
                    border-color: hubl("$cta_hover_dark");
                    transform: translateY(-3px);
                }
            } //Checkbox
            &[type="checkbox"] {
                visibility: hidden;
                display: none;
                +span {
                    margin-left: 30px;
                    position: relative;
                    display: block;
                    cursor: pointer;

                    &:before {
                        position: absolute;
                        content: '';
                        width: 16px;
                        height: 16px;
                        border: 1px solid #ebebeb;
                        border-radius: 1px;
                        top: 4px;
                        left: -30px;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        text-align: center;
                        top: 5px;
                        left: -30px;
                        width: 16px;
                        height: 16px;
                        font-family: "Font Awesome\ 5 Free";
                        transition: color 0.3s, box-shadow 0.3s;
                        font-weight: 900;
                        font-size: 10px;
                        cursor: pointer;
                    }
                    &:hover:before {
                        cursor: pointer;
                    }
                }
                &:checked {
                    +span {
                        &:after {
                            content: "\f00c";
                            color: hubl("$first_color");
                        }
                    }
                }
            } // Radio
            &[type="radio"] {
                visibility: hidden;
                display: none;
                +span {
                    margin-left: 30px;
                    position: relative;
                    &:before {
                        content: '';
                        border-radius: 50%;
                        border: 1px solid #ebebeb;
                        position: absolute;
                        left: -30px;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 19px;
                        height: 16px;
                        width: 16px;
                        transition: 0.3s;
                    }
                    &:after {
                        font-size: 9px;
                        position: absolute;
                        left: -26px;
                        top: 50%;
                        transform: translateY(-50%);
                        height: 12px;
                        width: 12px;
                        border-radius: 50%;
                        font-family: "Font Awesome\ 5 Free";
                    }
                    &:hover:before {
                        cursor: pointer;
                    }
                }
                &:checked+span {
                    &:after {
                        content: "\f00c";
                        color: hubl("$first_color");
                        cursor: pointer;
                    }
                    &:before {
                        border: 1px solid hubl("$first_color");
                    }
                }
            } // File 
            &[type="file"] {
                width: 100%;
                padding: 10px 15px;
                line-height: 1.45;
                position: relative;
                z-index: 20;
                background-color: red;
                cursor: pointer;
                opacity: 0!important;
            } // Rest
            &[type=text],
            &[type=email],
            &[type=tel],
            &[type=password],
            &[type=number],
            &[type=tel] {
                padding: 10px 15px;
                line-height: 1.5;
            }
        } // Textarea
        textarea {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid hubl("$secondary_text");
            color: hubl("$main_font_color");
            font-size: rem(16);
            width: 100% !important;
            padding: 15px;
            line-height: 1.5;
            border-radius: 0;
            font-family: hubl("$font");
            -ms-overflow-style: none;
            &:focus {
                border-bottom: 1px solid hubl("$first_color");
            }
        } // Select
        select {
            display: none;
            visibility: hidden;
            opacity: 0;
        }
        .hs_dropdown {
            margin: 30px 0 10px 0;
            label {
                display: none;
            }
        }
        .dropdown-header {
            position: relative;
            border-bottom: 1px solid hubl("$secondary_text");
            padding: 10px 15px;
            cursor: pointer;
            &.slide-down {
                border-bottom: 1px solid hubl("$first_color");
                &:after {
                    transform: rotate(0);
                }
            }
            &:after {
                content: "\f107";
                font-family: "Font Awesome\ 5 Free";
                position: absolute;
                right: 15px;
                color: hubl("$first_color");
                font-size: 25px;
                top: 7px;
                transform: rotate(-90deg);
                transition: .3s ease all;
            }
        }
        .dropdown-list {
            position: absolute;
            width: 100%;
            box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.13);
            z-index: 100;
            cursor: pointer;
            li {
                cursor: pointer;
                background-color: white;
                padding: 15px;
                font-size: em(16);
                &:hover {
                    background-color: #f9f9f9;
                }
                &:before {
                    display: none;
                }
            }
        } // Error message
        .inputs-list {
            li {
                label {
                    padding-left: 0;
                }
            }
        }
        .hs-error-msgs {
            margin-top: 30px;
            padding-left: 15px;
            li {
                text-align: left;
                &:before {
                    content: "";
                    display: none;
                }
                label {
                    font-size: rem(16);
                    padding-left: 0;
                    color: hubl("$first_color");
                    display: inline-block;
                }
            }
        } // Resize on mobile
        @media (max-width: 768px) {
            .form-columns-2 .hs-form-field {
                width: 100% !important;
                float: none !important;
                padding: 0 !important;
            }
        }
        fieldset {
            &.form-columns-2 {
                .hs-form-field {
                    width: 50%!important;
                    @media (max-width: 768px) {
                        width: 100%!important;
                        float: none!important;
                        padding: 0px!important;
                    }
                }
            }
            &.form-columns-3 {
                .hs-form-field {
                    width: 33.33%!important;
                    @media (max-width: 768px) {
                        width: 100%!important;
                        float: none!important;
                        padding: 0px!important;
                    }
                }
            }
            &[class^="form-columns-"]:not(.form-columns-1) {
                .hs-form-field {
                    padding-left: 20px;
                    padding-right: 20px;
                    &:first-of-type {
                        padding-left: 0;
                    }
                    &:last-of-type {
                        padding-right: 0;
                    }
                    @media (max-width: 400px),
                    (max-device-width: 480px) and (min-device-width: 320px) {
                        width: 100%;
                        padding: 0px;
                    }
                    input {
                        @media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px) {
                            width: 100%!important;
                        }
                    }
                }
            }
        } // Remove bullets
        ul {
            li {
                &:before {
                    display: none;
                }
            }
        } // bullet required
        .hs-form-required {
            display: none;
        }

        .legal-consent-container {
            margin-top: 15px;
            position: relative;
            text-align: left;

            .hs-richtext {
                font-size: rem(14);

                p {
                    font-size: inherit;
                }
            }

            .hs-form-field {
                margin-bottom: 10px;
                margin-top: 10px;
            }

            .hs-error-msgs {
                margin-top: 5px;

                label {
                    font-size: rem(14);
                }
            }

            input[type="checkbox"] {

                + span {
                    margin-left: 20px;
                    font-size: 14px;
                    font-weight: 400;

                    &:before, &:after {
                        width: 12px;
                        height: 12px;
                        left: -20px;
                    }

                    &:after {
                        top: 4px;
                        font-size: 8px;
                    }
                }
            } 
        }
    }

    // Form inverse //////////////////////////////////////////////////////////////////////////////////////////////////
    .form-inverse {
        color: white;
         ::selection {
            background: white;
            color: hubl("$first_color");
        }
        form {
            color: white; // Placeholders
             ::-webkit-input-placeholder {
                color: white;
            }
             ::-moz-placeholder {
                color: white;
            }
             :-ms-input-placeholder {
                color: white;
            }
             :-moz-placeholder {
                color: white;
            } // Fake Placeholders
            input {
                color: white;
                &+.fake-placeholder {
                    color: #fff; // test
                    &.has-value {
                        color: white;
                    }
                }
                &:focus {
                    &+.fake-placeholder {
                        color: white;
                    }
                }
            } // FAKE INPUTS TYPE FILE 
            .inputfile-fake {
                .input {
                    border-bottom: 1px solid #fff;
                    &:after {
                        color: #fff;
                    }
                }
                .fake-placeholder {
                    color: #fff;
                }
            }
            .file-name {
                color: #fff;
            } // Inputs
            input {
                border-bottom: 1px solid white; // Submit 
                &[type=submit] {
                    @include me-button--white;
                } //Checkbox
                &[type="checkbox"] {
                    &:checked+span:after {
                        color: #fff;
                    }
                } // Radio
                &[type="radio"] {
                    &:checked+span {
                        &:after {
                            color: #fff;
                        }
                        &:before {
                            border: 1px solid white;
                        }
                    }
                }
            } // Textarea 
            textarea {
                color: white;
                border-bottom: 1px solid white;
            } // Dropdown
            .dropdown-header {
                border-bottom: 1px solid white;
                &:after {
                    color: white;
                }
            }
            .dropdown-list {
                li {
                    color: hubl("$secondary_text");
                }
            } // Error
            .hs-error-msgs {
                li {
                    color: #fff;
                    a {
                        color: #fff;
                    }
                    label {
                        color: white;
                        display: inline-block;
                    }
                }
            }
        }
    }

    .form-oval-inputs {
        form {
            input[type=text],
            input[type=email],
            input[type=tel],
            input[type=password],
            input[type=number],
            input[type=tel],
            textarea {
                border-radius: 30px;
                background-color: #fff;
                border: 1px #fff solid;
            }
            input[type=submit] {
                padding: 10.5px 33.5px;
                min-height: 50px;
                min-width: 160px;
            }
        }
        @include placeholders(hubl("$second_font_color"))
    }
    .submit-center{

        .actions{
            text-align:center!important;
        }
    }
}