body.turbo-mercuric {
    font-size: 18px;
    line-height: 1.5;
    color: hubl("$second_font_color");
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.turbo-mercuric {
    font-family: hubl("$font");
    textarea:focus,
    input:focus {
        outline: none;
    }
    *:focus {
        outline: none;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    ul,
    ol,
    li,
    strong,
    em,
    small,
    blockquote,
    div {
        margin: 0;
        padding: 0;
        color: inherit;
    }
    a {
        transition: .3s linear all;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    .me-h1,
    .me-h2,
    .me-h3,
    .me-h4,
    .me-h5,
    .me-h6 {
        color: hubl("$main_font_color");
        line-height: 1.2;
        font-weight: normal;
        p,
        span {
            font-size: inherit;
            font-weight: inherit;
        }
        span {
            color: hubl("$first_color");
        }
    }
    h1,
    h2,
    .h1,
    .h2,
    .me-h1,
    .me-h2 {
        font-size: rem(52);
        @media (max-width: 580px) {
            font-size: rem(42);
        }
    }
    h3,
    .h3,
    .me-h3 {
        font-size: rem(41);
        @media (max-width: 580px) {
            font-size: rem(30);
        }
    }
    h4,
    .h4,
    .me-h4 {
        font-size: rem(30);
        @media (max-width: 580px) {
            font-size: rem(24);
        }
    }
    h5,
    .h5,
    .me-h5 {
        font-size: rem(20);
        @media (max-width: 580px) {
            font-size: rem(18);
        }
    }
    p {
        font-size: rem(18);
        font-weight: 300;
        &.normal,
        &.me-normal {
            font-size: rem(20);
            @media (max-width: 580px) {
                font-size: rem(18);
            }
        }
        &.big,
        &.me-big {
            font-size: rem(25);
            @media (max-width: 580px) {
                font-size: rem(22);
            }
        }
        &.subheading,
        &.me-subheading {
            font-size: rem(20);
            font-weight: noermal;
            @media (max-width: 580px) {
                font-size: rem(18);
            }
        }
        &.regular,
        &.me-regular {
            font-size: em(20);
            font-weight: 500;
            @media (max-width: 580px) {
                font-size: rem(18);
            }
        }
        @media (max-width: 580px) {
            font-size: rem(16);
        }
    }
    .normal,
    .me-normal {
        font-size: rem(20);
        @media (max-width: 580px) {
            font-size: rem(18);
        }
        p,
        span {
            font-size: inherit;
            font-weight: inherit;
        }
    }
    .big,
    .me-big {
        font-size: rem(25);
        @media (max-width: 580px) {
            font-size: rem(22);
        }
        p,
        span {
            font-size: inherit;
            font-weight: inherit;
        }
    }
    .subheading,
    .me-subheading {
        font-size: rem(20);
        font-weight: 400;
        @media (max-width: 580px) {
            font-size: rem(18);
        }
        p,
        span {
            font-size: inherit;
            font-weight: inherit;
        }
    }
    .regular,
    .me-regular {
        font-size: rem(20);
        font-weight: 500;
        @media (max-width: 580px) {
            font-size: rem(18);
        }
        p,
        span {
            font-size: inherit;
            font-weight: inherit;
        }
    }
    a {
        position: relative;
        display: inline-block;
        color: hubl("$first_color");
        text-decoration: none;
        &:hover {
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                bottom: 0px;
                border-bottom: 1px dashed hubl("$first_color");
            }
        }
    }
    ul,
    ol {
        li {
            font-size: rem(18);
            font-weight: 300;
            p {
                margin-bottom: 0;
            }
            @media (max-width: 580px) {
                font-size: rem(16);
            }
        }
    }
    ul {
        list-style-type: none;
        li {
            position: relative;
            &:before {
                content: "•";
                position: absolute;
                left: 0;
                width: 10px;
                height: 15px;
                top: 3px;
                text-align: center;
                font-size: .7em;
                vertical-align: middle;
                color: hubl("$first_color");
            }
        }
    }
    ol {
        li {
            list-style-type: none;
            counter-increment: list;
            position: relative;
            &:before {
                position: absolute;
                left: 0;
                color: hubl("$first_color");
                content: counter(list) ".";
                display: inline-block;
                width: 1.2rem;
            }
        }
    }
    br {
        @media (max-width: 580px) {
            display: none;
        }
    }
    .hs_cos_wrapper_type_rich_text,
    .hs_cos_wrapper_type_inline_rich_text {
        color: hubl("$second_font_color");
        h1,
        h2,
        h3 {
            margin-bottom: rem(30);
        }
        h4 {
            margin-bottom: rem(25);
        }
        h5,
        h6,
        p,
        ul,
        ol {
            margin-top: 0;
            margin-bottom: rem(20);
        }
        ul,
        ol {
            h1,
            h2,
            h3,
            h4,
            h5,
            p,
            span,
            a,
            ul,
            ol {
                margin-bottom: 0;
            }
        }
        ul,
        ol {
            li {
                padding-left: 20px;
                margin-top: 0;
                margin-bottom: rem(10);
            }
        }
    }
    .color-white,
    .me-color-white {
        color: #fff;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        li,
        blockquote,
        span,
        em,
        strong,
        small {
            color: inherit;
        }
        li {
            &:before {
                color: #fff;
            }
        }
        .hs_cos_wrapper_type_rich_text,
        .hs_cos_wrapper_type_inline_rich_text,
        &.hs_cos_wrapper_type_rich_text,
        &.hs_cos_wrapper_type_inline_rich_text {
            color: #fff;
            a:not(.cta_button) {
                color: inherit;
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    bottom: 0px;
                    border-bottom: 1px dashed #fff;
                }
            }
        }
    }

    .me-color-dark {
        color: hubl("$main_font_color");
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        li,
        blockquote,
        span,
        em,
        strong,
        small {
            color: inherit;
        }
        li {
            &:before {
                color: hubl("$main_font_color");
            }
        }
        .hs_cos_wrapper_type_rich_text,
        .hs_cos_wrapper_type_inline_rich_text,
        &.hs_cos_wrapper_type_rich_text,
        &.hs_cos_wrapper_type_inline_rich_text {
            color: hubl("$main_font_color");
        }
    }
    .me-text-center {
        text-align: center;

        img {
            display: block;
            margin: 0 auto;
        }
    }
}