.turbo-mercuric {
    .me-single-person-box-wrapper {
        
        > span {
            display: flex;
            flex-wrap: wrap;

            > div {
                width: 33.33%;

                @media (max-width: 1024px) {
                    width: 50%;
                }

                @media (max-width: 650px) {
                    width: 100%;
                }
            }
        }
    }

    .me-single-person-box-wrapper-v2 {
        
        > span {
            display: flex;
            flex-wrap: wrap;

            > div {
                width: 25%;

                @media (max-width: 1024px) {
                    width: 50%;
                }

                @media (max-width: 650px) {
                    width: 100%;
                }
            }
        }
    }

    .me-single-person-box {
        position: relative;
        width: calc(100% - 30px);
        left: 15px;

        &:hover {
            .me-single-person-box {
                &__avatar {
                    box-shadow: 0px 5px 9.9px 0.1px rgba(35, 31, 32, 0.19);
                }
                &__avatar-image {
                    opacity: 1;
                }
                &__social {
                    transition: 0.4s ease 0.3s;
                    bottom: 25px;
                    opacity: 1;
                }
            }
        }

        &__avatar {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            border-radius: 0;
            transition: box-shadow .4s;
            overflow: hidden;
        }

        &__avatar-image {
            display: block;
            width: 100%;
            background-size: cover;
            background-position: center center;
            padding-bottom: 100%;
            transition: all .6s;

            &:before {
                display: none;
            }
        }

        &__social {
            position: absolute;
            z-index: 100;
            //background-color: {{$first_color}};
            left: 50%;
            bottom: -30px;
            opacity: 0;
            transition: .4s all 0s;
            padding: 0 30px;
            border-radius: 50px;

            ul {
                display: flex;
                list-style: none;

                li {
                    margin: 0 5px;

                    &:before {
                        display: none;
                    }

                    h3 {
                        font-size: 20px;
                    }

                    a {
                        display: block;
                        padding: 23px 5px;

                        &:before {
                            display: none;
                        }

                        &:hover {
                            transform: translateY(-5px);

                            @media (max-width: 768px) {
                                transform: translateY(0px);
                            }
                        }

                        i {
                            display: block;
                            font-size: 20px;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }

        &__decription {
            padding-top: 100%;
            padding-bottom: 40px;
            text-align: center;
        }

        &__content {
            padding-top: 30px;

            p{
                font-size: rem(20);
                font-weight: 500;
                color: #000000;
                margin-bottom: 5px;
            }

            h5 {
                font-size: rem(25);
                font-weight: 500;
                margin-bottom: 10px;
            }
        }
    }
}