 .turbo-mercuric {

    .me-pricing-box-2-wrapper {
        > span {
            display: flex;
            position: relative;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
        
            @media (min-width: 767px) {
                justify-content: center;
            }
    
            > div {
                width: 30%;
                margin: 0 10px;

                @media(min-width: 767px) and (max-width: 991px) {
                    width: 47%;
                }

                @media (max-width: 767px) {
                    position: relative;
                    width: 100%;
                }
            }
        }
    }

    .me-pricing-box-2 {
        display: block;
        position: relative;
        width: 100%;
        float: left;
        background-color: #FFFFFF;
        padding: 45px 35px 35px;
        border-radius: 10px;
        text-align: center;
        border: 1px solid hubl("$secondary_text");
        margin: 90px 0;
        max-width: 340px;

        @media(min-width: 768px) and (max-width: 992px) {
            max-width: 100%;
        }

        @media (max-width: 768px) {
            min-width: 310px;
            margin: 80px 0 30px;
        }

        h3 {
            font-size: 35px;
            font-weight: 400;
            padding: 40px 0 20px;
        }

        .me-oval-price {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 141px;
            height: 141px;
            border-radius: 50%;
            position: absolute;
            top: -70px;
            left: 10%;
            transform: none;
            font-weight: 800;
            color: #FFFFFF;
            background-color: hubl("$secondary_text");
            padding: 10px 0;

            @media (max-width: 768px) {
                transform: translateX(-50%);
                left: 50%;
            }

            &--awarded {
                background-color: hubl("$first_color");
            }

            .me-mo {
                font-weight: 600;
                font-size: rem(15);
            }

            &--big {
                .me-payment,
                .me-small {
                    font-size: rem(30);
                }
                .me-price {
                    font-size: rem(64);
                }
                .me-payment {
                    margin-top: 15px;
                }
                .me-small {
                    margin-top: -30px;
                }
                .me-mo {
                    margin-left: -30px;
                    margin-top: 28px;
                }
            }

            &--normal {
                .me-payment,
                .me-small {
                    font-size: rem(24);
                }
                .me-price {
                    font-size: rem(50);
                }
                .me-payment {
                    margin-top: 10px;
                }
                .me-small {
                    margin-top: -30px;
                }
                .me-mo {
                    margin-left: -28px;
                    margin-top: 20px;
                }
            }

            &--small {
                .me-payment,
                .me-small {
                    font-size: rem(18);
                }
                .me-payment {
                    margin-top: 10px;
                }
                .me-price {
                    font-size: rem(40);
                }
                .me-small {
                    margin-top: -20px;
                }
                .me-mo {
                    margin-left: -20px;
                    margin-top: 15px;
                }
            }
        }

        ul.me-option {
            padding-bottom: 30px;
            li.me-item {
                font-size: rem(16);
                padding: 10px 0;
                position: relative;
                &:before {
                    display: none;
                }
                &.me-empty {
                    display: block;
                    position: relative;
                    max-width: 100%;
                    padding: 22px 0;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: hubl("$first_color");
                        border-radius: 50%;
                        transform: translate(-50%, -50%);
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}