.turbo-mercuric {
    .me-subscribe-popup-bar {
        position: relative;
        padding: 48px 0;

        > div {
            position: relative;
            display: flex !important;
            flex-wrap: nowrap;
            justify-content: space-between;
            padding: 0;

            &:before {
                display: none;
            }

            @media (max-width: 992px) {
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        &__content,
        &__button-wrapper {
            width: 50%;

            @media (max-width: 992px) {
                width: 100%;
            }
        }

        &__image {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            bottom: 0;
            margin-left: -30px;

            @media (max-width: 1120px) {
                display: none;
            }
        }

        &__content {
            @media (max-width: 992px) {
                text-align: center;
                margin-bottom: 30px;
            }

            h1, h2, h3, h4, h5, p, span, ul li {
                color: inherit;
            }

            h2 {
                font-size: 34px;
                margin-bottom: 10px;
            }
        }

        &__button-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;

            a {
                margin: 0 10px;

                @media (max-width: 768px) {
                    width: 100%;
                    max-width: 210px;
                    margin: 20px;
                }

                &:before {
                    display: none;
                }
            }

            .me-btn-popup {
                color: #FFFFFF;
                text-decoration: underline;
            }

            .popup-outer {
                display: none;
            }
        }
    }

    .mfp-content {
        max-width: 600px !important;
    }

    .me-sign-popup {
        display: block;
        max-width: 600px;
        margin: 0 auto;
        background-color: #FFFFFF;


        &__header {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            min-height: 300px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;

            h2 {
                z-index: 1;
            }
        }

        &__mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        form {
            padding: 30px 70px;

            @media (max-width: 768px) {
                padding: 30px;
            }
        }
    }
}