.turbo-mercuric {
    .me-banner-with-form-v2 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @media (max-width: 768px) {
            height: 100%;
            padding: 30px;
        }

        &__mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &__content {
            display: block;
            max-width: 600px;
            padding: 0 15px;
            margin-top: 50px;
            text-align: center;
            z-index: 1;

            h1, h2, h3, h4, h5, p, span, ul li {
                color: inherit;
            }

            h1, h2, h3 {
                margin-bottom: 40px;
            }
        }

        &__form {
            display: block;
            max-width: 600px;
            width: 100%;

            .dropdown-header {
                &:after {
                    font-weight: 600;
                }
            }

            .dropdown-list {
                z-index: 999;
            }

            .dropdown-header, input {
                border-bottom: 0;
                border: 1px solid #b7b7b7;
                border-radius: 30px;
                background-color: #FFFFFF;
            }

            .input input {
                position: relative;
                width: 100% !important;
            }

            label {
                z-index: 999;

                > span {
                    position: relative;
                }
            }

            .input ul.inputs-list {
                display: block;
                margin-top: 30px;

                input[type="checkbox"] + span:before {
                    border-radius: 50%;
                    border-color: #FFFFFF;
                }

                input[type="checkbox"]:checked + span:before {
                    border-color: #dd1658;
                }
            }

            .actions {
                position: relative;
            }
        }
    }
}