.turbo-mercuric {
    .me-project-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: 1px solid hubl("$lightGrey");

        a {
            &:before {
                display: none;
            }
        }

        &__prev,
        &__all,
        &__next {
            padding: 25px 0;
            a {
                display: flex;
                align-items: center;
                height: 100%;

                i {
                    font-size: 30px;
                    color: #000000;
                }

                p {
                    font-weight: 600;
                    color: #000000;
                }
            }
        }

        &__prev,
        &__next {
            max-width: 530px;
            width: 100%;
            padding: 0 15px;
        }

        &__project {
            position: absolute;
            display: flex;
            align-items: center;
            max-height: 80px;
            opacity: 0;
            transition: opacity .3s ease-in-out;

            img {
                max-width: 60px;
                height: 60px;
                border-radius: 50%;

                @media (max-width: 550px) {
                    display: none;
                }
            }

            p {
                margin-left: 10px;
            }
        }


        &__prev {
            a {
                justify-content: flex-start;
                transition: all .3s ease-in-out;

                i, p {
                    opacity: 1;
                    transition: opacity .3s ease-in-out;
                }

                &:hover,
                &:visited,
                &:focus {
                    i, p {
                        opacity: 0;
                        transition: opacity .3s ease-in-out;
                    }

                    .me-project-nav  {
                        &__project {
                            display: flex !important;
                            position: absolute;
                            left: 0;
                            opacity: 1;
                            transition: opacity .3s ease-in-out;

                            img {
                                max-width: 60px;
                                height: 60px;
                                border-radius: 50%;
                            }

                            p {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }


        &__next {
            a {
                justify-content: flex-end;
                transition: all .3s ease-in-out;

                i {
                    transform: rotate(-180deg);
                }

                i, p {
                    opacity: 1;
                    transition: opacity .3s ease-in-out;
                }

                &:hover,
                &:visited,
                &:focus {
                    i, p {
                        opacity: 0;
                        transition: opacity .3s ease-in-out;
                    }

                    .me-project-nav  {
                        &__project {
                            display: flex !important;
                            justify-content: flex-end;
                            position: absolute;
                            right: 0;
                            opacity: 1;
                            transition: opacity .3s ease-in-out;

                            img {
                                max-width: 60px;
                                height: 60px;
                                border-radius: 50%;
                            }

                            p {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        &__all {
            max-width: 70px;
            width: 100%;
            border-left: 1px solid hubl("$lightGrey");
            border-right: 1px solid hubl("$lightGrey");

            a {
                justify-content: center;

                &:hover {
                    transform: translateY(-3px);
                }
            }
        }

        &__content {
            height: 100%;
        }
    }
}