.turbo-mercuric {
    .me-simple-slider {
        position: relative;
        width: 100%;
        margin-bottom: 80px !important;
        transition: all 1s ease-in;

        &--arrowsShow {
            .slick-arrow {
                display: inline-block !important;
            }
        }
        &--arrowsHide {
            .slick-arrow {
                display: none !important;
            }
        }
        &--showPagination {
            .slick-dots {
                display: block !important;
            }
        }
        &--hidePagination {
            .slick-dots {
                display: none !important;
            }
        }
        .slick-arrow {
            display: block;
            width: 80px;
            height: 80px;
            z-index: 1;

            @media (max-width: 767px) {
                width: 50px;
                height: 50px;
            }

            &:before {
                font-family: 'ClickrayIcons';
                font-size: rem(80);
                color: hubl("$secondary_text");
                margin: -2px;
                @media (max-width: 767px) {
                    font-size: rem(50);
                }
            }
        }
        .slick-prev,
        .slick-next {
            margin-top: 0;
            transform: translateY(-50%);
        }

        .slick-next {
            right: 0;
            &:before {
                content: '\e90e';
            }
        }

        .slick-prev {
            left: 0;
            &:before {
                content: '\e90c';
            }
        }

        .slick-dots {
            .slick-active {
                &:before {
                    color: hubl("$first_color");
                }
            }

            li {
                font-size: rem(25);
                transition: all .3s ease-in-out;

                &:hover {
                    &:before {
                        color: hubl("$first_color");
                        transition: all .3s ease-in-out;
                    }
                }

                &:before {
                    opacity: .6;
                    color: hubl("$secondary_text");
                    transition: all .3s ease-in-out;
                }

                button {
                    &:before {
                        display: none;
                    }
                }
            }
            .slick-active {
                &:before {
                    opacity: 1;
                }
            }
        }
    }
}