.turbo-mercuric {
    .me-hero-banner-with-image {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 0;
        max-height: 520px;

        @media (max-width: 1120px) {
            max-height: 100%;
        }

        > div {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;

            @media (max-width: 1120px) {
                flex-wrap: wrap;
            }
        }

        &__mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &__content,
        &__image {
            position: relative;
            display: block;
            width: 50%;
            z-index: 1;

            @media (max-width: 850px) {
                width: 100%;
            }
        }

        &__content {
            align-items: flex-start;

            h1, h2, h3, h4, h5, p, span, ul li {
                color: inherit;
            }

            h1, h2, h3 {
                margin-bottom: 30px;
            }

            a {
                margin-top: 30px;
            }
        }

        &__image {
            display: flex;
            justify-content: flex-end;

            img {
                max-width: 370px;
                max-height: 530px;

                @media(max-width: 850px) {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }

        .fixed {
            img {
                position: fixed;
                display: block;
                margin: 0 auto;

                @media (max-width: 850px) {
                    position: static;
                    margin-top: 30px !important;
                }
            }
        }
    }

}