.turbo-mercuric {

    .me-read-more-box-wrapper {

        > span {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            > div {
                position: relative;
                display: flex;
                // align-items: center;
                width: 25%;
                background-color: hubl("$first_color");
                border-top: 2px solid #fff;

                .me-read-more-box {
                    background-color: unset;
                    
                    &:after {
                        content: "";
                        display:block;
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 100%;
                        width: 2px;
                        background-color: #fff;
                    }
                }

                &:last-of-type, &:nth-of-type(4) {

                    .me-read-more-box {
                        
                        &:after {
                            display: none;
                        }
                    }
                }

                @media (max-width: 991px) {
                    width: 50%;

                    &:nth-of-type(2) {

                        .me-read-more-box {
                        
                            &:after {
                                display: none;
                            }
                        }
                    }
                }

                @media (max-width: 767px) {
                    width: 100%;

                    .me-read-more-box {
                        
                        &:after {
                            display: none;
                        }
                    }
                }


            }
        }
    }

    .me-read-more-box {
        display: block;
        padding: 50px;
        background-color: hubl("$first_color");

        .cta_button {
            margin-top: 10px;
        }

        .me-cta-simple {
            color: #fff;
        }
    }
}