.turbo-mercuric {
    .me-blog-right {
        display: flex;
        margin-bottom: 30px;

        a {
            &:before {
                display:none;
            }
        }

        &__content,
        &__image {
            width: 50%;

            @media (max-width: 767px) {
                width: 100%;
            }
        }

        &__date {
            display: flex;
            align-items: center;

            i {
                color: hubl("$second_font_color");
                margin-right: 15px;

                &:before {
                    font-size: rem(20);
                }
            }
        }

        &__content {
            padding: 60px 30px;
            border: 1px solid hubl("$lightGrey");

            h5 {
                margin: 30px 0;
            }
        }

        &__image {
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 30px 20px;

            .topic-link {
                float: left;
                color: #FFFFFF;
                margin: 5px 10px;
                background-color: hubl("$first_color");
                padding: 10px 20px;
                border-radius: 30px;

                &:before {
                    display: none;
                }
            }
        }

        &__author {
            display: flex;
            align-items: center;
            margin-top: 30px;

            .me-avatar {
                display: block;
                border-radius: 50%;
                margin-right: 15px;
                border: 2px solid hubl("$lightGrey");

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
            }
        }
    }
}