.turbo-mercuric {
    .me-text-video-popup-and-image-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &--right {
            .me-text-video-popup-and-image-section {
                &__popup-video {
                    order: 1;
                    justify-content: flex-end;
                }

                &__image {
                    order: 2;
                }

                &__content {
                    padding-right: 50px;

                    @media (max-width: 768px) {
                        padding-right: 0;
                    }
                }
            }
        }

        &--left {
            .me-text-video-popup-and-image-section {
                &__popup-video {
                    order: 2;
                    justify-content: flex-start;
                }

                &__image {
                    order: 1;
                }

                &__content {
                    justify-content: flex-start;
                    padding-left: 50px;

                    @media (max-width: 768px) {
                        padding-left: 0;
                    }
                }
            }
        }

        &__popup-video,
        &__image {
            width: 50%;
            height: 650px;
            min-height: 650px;

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        &__popup-video {
            position: relative;
            display: flex;
            align-items: center;
        }

        &__image {
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }

        &__content {
            display: block;
            max-width: 635px;

            @media (max-width: 1300px) {
                padding: 0 30px;
            }

            h2, p {
                color: inherit;
                padding-bottom: 30px;
            }

            i {
                color: inherit;
                font-size: rem(70);
                margin-right: 20px;

                &:hover {
                    opacity: .6;
                }
            }
        }

        &__video-popup-btn {
            display: flex;
            align-items: center;
            font-size: rem(20);
        }

        &__popup-outer {
            display: none;
        }

        &__mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}