.turbo-mercuric {
    .me-307-blog {
        .single-blog {
            .blog-section {
                display: block;
                margin: 80px 0;
                &__blog-quote {
                    display: block;
                    position: relative;
                    width: 100%;
                    border: 1px solid #ebebeb;
                    padding: 40px 30px 20px 90px;
                    margin-bottom: 60px;
                    &:before {
                        position: absolute;
                        font-family: 'ClickrayIcons';
                        content: '\e947';
                        top: -50px;
                        left: 20px;
                        font-size: 65px;
                        color: #eaeaea;
                        text-shadow: 2px 2px #fafafa;
                    }
                    h3 {
                        font-weight: 600;
                    }
                    p {
                        text-align: right;
                        padding: 20px;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}