.turbo-mercuric {
    .me-popular-blogs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 15px;

        @media(max-width: 900px) {
            justify-content: center;
            padding: 90px 0;
        }

        a {
            &:before {
                display: none;
            }
        }

        .post-single {
            display: block;
            max-width: 280px;

            @media(max-width: 900px) {
                margin: 10px;
            }

            @media(max-width: 767px) {
                max-width: 100%;
                margin: 0;
            }

            &:hover {
                .post-single {
                    &__image {
                        transition: all .3s ease-in;

                        img {
                            transform: scale(1.05);
                            transition: all .3s ease-in;
                        }
                    }

                    &__content {
                        h3 {
                            color: hubl("$first_color");
                            transition: all .3s ease-in;
                        }
                    }
                }
            }

            &__image,
            &__content,
            &__topics-wrapper {
                margin: 0;
            }
            &__image {
                position: relative;
                display: block;
                width: 280px;
                height: 240px;
                overflow: hidden;

                img {
                    display: block;
                    max-width: 100%;
                    height: 100%;
                }
            }
            &__content {
                h3 {
                    font-size: 20px;
                    font-weight: 600;
                    padding-bottom: 10px;
                }

                i , p {
                    display: inline-block;
                    float: left;
                }

                i {
                    margin-right: 10px;
                }
            }
            &__topics-wrapper {
                padding: 20px 0;
            }
        }
    }
}