.turbo-mercuric {
    .me-square-box-wrapper {
        display: block;
        width: 100%;

        > span {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            > div {
                display: block;
                width: 25%;
                overflow: hidden;

                @media (min-width: 768px) and (max-width: 992px) {
                    width: 50%;
                }

                @media (max-width: 768px) {
                    width: 100%;
                }
            }
        }
    }
    .me-square-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 450px;
        background-size: cover;
        background-position: center center;
        transform: scale(1);
        transition: all .5s ease-in;

        &:hover {
            transform: scale(1.05);

            .me-square-box {

                &__content {
                    display: block;
                    z-index: 2;
                    opacity: 1;
                }

                &__mask {
                    background-color: hubl("$dark");
                }
            }
        }

        &__mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: all .3s ease-in-out;
        }

        &__content {
            max-width: 350px;
            text-align: left;
            opacity: 0;
            transition: opacity .3s ease-in-out;

            h1, h2, h3, h4, h5, p, a, span, ul li {
                color: inherit;
            }
        }

        .me-play {
            display: block;
            z-index: 1;

            i {
                color: #FFFFFF;
                font-size: rem(70);
            }
        }

        .popup-outer {
            display: none;
        }
    }
}