.turbo-mercuric {

    .me-team-photo-box-wrapper {

        >span {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            >div {
                width: 25%;

                @media (max-width: 1360px) {
                    width: 33.33%;
                }

                @media (max-width: 1024px) {
                    width: 50%;
                }

                @media (max-width: 675px) {
                    width: 100%;
                }
            }
        }
    }
    .me-team-photo-box-wrapper-v2 {

        >span {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            >div {
                width: 50%;

                @media (max-width: 767px) {
                    width: 100%;
                }
            }
        }
    }

    .me-team-photo-box {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        padding-bottom: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 0;

        &:hover {

            .me-team-photo-box__content {
                transform: scale(0.9);
                transition-delay: 0.4s;
                z-index: 3;
            }

            .me-mask {
                background-color: hubl_rgba("$dark", 0.78);
            }
        }

        .me-mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            background-color: transparent;
            transition: background-color 0.7s;
            z-index: 2;
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            padding: 50px;
            text-align: center;
            color: #FFFFFF;
            text-decoration: none;
            transform: scale(0);
            transition-delay: 0s;
            transition: all 0.6s;
            z-index: 3;
        }

        &__name {
            margin-bottom: 5px;
            color: #fff;
            font-size: rem(25);
            font-weight: 600;
        }

        &__position {
            margin-bottom: 25px;
            color: #fff;
            font-size: rem(20);
            font-weight: 300;
        }

        &__socials {

            li {
                display: inline-block;
                margin: 0 5px;

                &:before {
                    display: none;
                }

                a {
                    &:before {
                        display: none;
                    }
                }

                i {
                    font-size: 25px;
                    color: #FFFFFF;
                    transition: linear 0.3s;

                    &:hover {
                        color: hubl("$first_color");
                    }
                }
            }
        }
        
    }
}