.turbo-mercuric {
    .me-pricing-box-1-wrapper {
        >span {
            display: flex;
            position: relative;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            margin: 90px 0;

            >div {
                position: relative;
                width: 100%;
                max-width: 360px;

                @media (min-width: 480px) {
                    width: auto;
                }

                @media (min-width: 1150px) {
                    &:nth-child(3) {
                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            right: 0;
                            top: 13%;
                            width: 1px;
                            height: 480px;
                            background-color: #e8e8e8;
                        }
                        &:last-child() {
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .me-pricing-box-1 {
        display: block;
        position: relative;
        width: 100%;
        float: left;
        background-color: #FFFFFF;
        padding: 45px 35px 35px;
        border-radius: 10px;
        text-align: center;
        @media (min-width: 768px) {
            max-width: 360px;
        }
        h5 {
            span {
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        img {
            display: none;
        }
        .me-cost-oval {
            display: inline-block;
            font-weight: 800;
            color: #000000;
            padding: 10px 0;
            &--me-payment,
            &--me-small {
                font-size: rem(30);
            }
            &--me-small {
                vertical-align: top;
            }
            &--me-price {
                font-size: rem(64);
            }
            &--me-mo {
                font-size: rem(15);
                margin-left: -35px;
                font-weight: 600;
                text-transform: uppercase;
                font-family: sans-serif;
            }
        }
        &--awarded {
            background-color: hubl("$first_color");
            overflow: hidden;
            h5 {
                span {
                    color: #FFFFFF;
                    font-weight: 700;
                }
            }
            img {
                display: block;
                max-width: 200px;
                position: absolute;
                top: -10px;
                left: 0;
            }
            i,
            svg {
                display: block;
                font-size: 200px;
                position: absolute;
                top: -10px;
                left: 0;
            }
            .cost-oval {
                position: relative;
                color: #FFFFFF;
                z-index: 1;
            }
            ul.option {
                padding-bottom: 30px;
                li.item {
                    color: #FFFFFF;
                }
            }
        }
        ul.me-option {
            padding-bottom: 30px;
            li.me-item {
                font-size: rem(16);
                padding: 10px 0;
                position: relative;
                &:before {
                    display: none;
                }
                &.me-empty {
                    display: block;
                    position: relative;
                    max-width: 100%;
                    padding: 22px 0;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: hubl("$first_color");
                        border-radius: 50%;
                        transform: translate(-50%, -50%);
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}