.me-form-map-section{

 .form-wrapper {
    min-height: 410px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
h4{
	margin-top: 55px;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
    color: hubl("$first_color");
}
.additional-text{

    padding-top:90px;
}

.custom-social-icon a{
        display: block;
    min-width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #ed145b;
    border: 1px solid #ed145b;
    text-align: center;

}
.custom-social-icon a i {
    color: #fff;
    line-height: 50px;
    font-size: 1.625rem;
    -webkit-transition: 0.3s color;
    -o-transition: 0.3s color;
    -moz-transition: 0.3s color;
    transition: 0.3s color;
}
.custom-social-icon a:hover{

    background-color: transparent;
}
.custom-social-icon ul{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

}
.custom-social-icon ul li{
        margin-right: 20px;
        margin-bottom: 20px;
}
.custom-social-icon ul li:before{
        display:none;
}
.me-social-icon{
margin-bottom:50px;
}
.custom-social-icon a:hover i{
    color: hubl("$first_color");
}
@media(max-width:767px){
    .map{
        
        width:100%!important;
        min-width:540px;
        
    }
}
@media(max-width:540px){
    .map{
        
        width:100%!important;
        min-width:320px;
        
    }
}
}