.turbo-mercuric {
    .me-skill-progress-bar {
        margin-bottom: 30px;
        
        h6 {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 25px;
        }

        &__progress-bar {
            position: relative; 
            width: 100%;
            height: 4px;
            background-color: hubl('$lightGrey');
            border-radius: 3px;

        }
        &__dot {
            position: absolute;
            display: block;
            width: 10px;
            height: 10px;
            top: 50%;
            left: 0px;
            transform: translateY(-50%);
            border-radius: 50%;
            background-color: hubl("$first_color");
            text-align: center;

            small {
                position: absolute;
                top: -25px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 14px;
                color: #000000;
            }
        }


    }
}