.me-143-our-process-2{
	.pad{
		padding: 50px 0px;
	}
	.rowe{
		padding: 50px 0px;
	}
	
	.icons > span,.buttons > span{
	display:flex;
	align-content:center;
	justify-content:center;
      position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 2;
}
a.cta-primary{

	color:white;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
}
.white{

	a.cta-primary{

		color:hubl("$first_color");
	}

}
.buttons{
	padding-bottom:50px;
	border-bottom:1px solid #ebebeb;
}
.icons > span > div{
	width:25%;
}
@media (max-width: 768px){
.me-text-image-cta .column-text-cta {
    margin-bottom: 30px;
}
}
@media(max-width:768px){
.icons > span > div{
	width:50%;

}
}
@media(max-width:480px){
.icons > span > div{
	width:100%;
}
}
	.me-text-image-cta .column-text-cta p{
		font-size:16px;
	}
@media only screen and (min-width:768px) and (max-width:992px){

	.me-text-image-cta .column-text-cta p{
		font-size:14px;
	}
	.me-text-image-cta .column-text-cta h2{
		font-size:30px;
	}
}

		.footer-section{
		background-color:#ed145b;
		.column-text-cta{
			padding-top:50px;
			padding-bottom:50px;
			h2, .h4{
				max-width:1000px;
				font-size:51px;
				color:white;
			}
			p{
				color:white;
			}

			.cta_button{
				color:white;
				border-color:white;
			}
			.subheading{
				color:white;
				font-size:20px;
				margin-bottom:20px;
				display:block;
			}
		}
	}
	.me-text-image-cta .column-text-cta h2{
		max-width:100%;
	}
	.me-text-image-cta .column-text-cta h2{

		margin-top:0px!important;
	}
}