.turbo-mercuric {
    .me-job-overview-bar {
        position: relative;
        display: block;
        padding-bottom: 80px;
        border-bottom: 1px solid hubl("$lightGrey");

        &__image {
            position: absolute;
            display: block;
            width: 120px;
            height: 140px;
            top: 50%;
            right: 0;
            transform: translateY(-50%);

            @media (max-width: 480px) {
                display: none;
            }
        }

        .me-icon-background {
            position: absolute;
            display: block;
            top: 50%;
            right: 0;
            transform: translateY(-50%);

            @media (max-width: 480px) {
                display: none;
            }
        }

        &__offer {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        &__me-item {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            margin-right: 70px;
            margin-top: 30px;

            i {
                margin-right: 10px;
                font-size: 23px;
            }

            h5, p {
                font-size: 20px;
            }

            p {
                margin-right: 10px;
            }
        }
    }
}