.turbo-mercuric {
    .me-background-image {
        display: block;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;

        @media (max-width: 767px) {
            position: relative !important;
            width: 100% !important;
        }

        &--absolute {
            position: absolute; 
            width: 45%;

            @media (max-width: 767px) {
                position: relative;
                width: 100%;
            }
        }

        &--relative {
            position: relative;
        }

        &--left {
            left: 0;
        }

        &--right {
            right: 0;
        }

        &--middle {
            left: 50%;
            transform: translateX(-50%);
        }

        &--center {
            top: 50%;
            transform: translateY(-50%);
        }

        &--top {
            top: 0;
        }

        &--bottom {
            bottom: 0;
        }

    }
}