.turbo-mercuric {
    .me-cta-bar {
        display: block;
        width: 100%;
        padding: 80px 0;

        > div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        &__content,
        &__button {
            width: 50%;

            @media (max-width: 767px) {
                width: 100%;
            }
        }

        &__content {
            @media (max-width: 767px) {
                text-align: center;
            }
        }

        &__button {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            @media (max-width: 767px) {
                margin: 30px 0;
                justify-content: center;
            }
        }
    }
}