.turbo-mercuric {

    // styles only for .me-icon-list-company-wrapper
    .me-icon-list-company-wrapper {
        position: relative;
        box-shadow: 0px 5px 9.9px 0.1px rgba(35, 31, 32, 0.11);
        margin-top: -150px;
        background-color: #fff;

        >span {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            > div {
                width: 25%;

                @media (max-width: 991px) {
                    width: 50%;
                }

                @media (max-width: 550px){
                    width: 100%;
                }
            }
        }

        .me-icon-list-company {
            background-color: #fff;

            > a {

                &:hover {

                    .me-icon-list-company__inner {
                        transform: scale(1.05);
                    }
                }
            }

            &__inner {
                padding: 45px;
                min-height: 250px;

                @media (max-width: 767px) {
                    padding: 25px;
                }
            }
        }
    }

    .me-icon-list-company-wrapper-v2 {
        position: relative;
        background-color: #fff;

        >span {
            display: flex;
            flex-wrap: wrap;

            > div {
                width: 50%;

                @media (max-width: 550px){
                    width: 100%;
                }

                .me-icon-list-company {
                    &__inner {
                        padding: 15px;
                    }
                    > a {
                        &:hover {
                            background-color: hubl("$first_color");

                            .me-icon-list-company {
                                &__icon {
                                    i {
                                        color: #FFFFFF;
                                    }
                                }

                                &__content {
                                    h1, h2, h3, h4, h5, h6, span, p, ul li {
                                        color: #FFFFFF !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // general module styles
    .me-icon-list-company {
        position: relative;
        width: 100%;
        float: none;

        > a {

            &:hover {

                &:before {
                    display: none;
                }
            }
        }

        &__inner {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            box-sizing: border-box;
            transition: all .2s linear;
        }

        &__icon {
            margin-bottom: 25px;
        }

    }
}