.me-client-slide-picture{

			text-align:center;
		img{
				display:inline!important;
			}
			.position{
				text-transform:uppercase;
				font-weight:300;
				color:#b7b7b7;
			}
		.picture{
			margin-top:0px;
			img{
				padding-bottom:20px;
				margin-top:30px;
				max-width:80px;
				min-width:80px;

							}
			border-bottom:3px solid #e8e9ed;
		}
		h5{
			margin-top:20px;
		}
}
.slick-center{

	.me-client-slide-picture{
		.picture{
			img{
					border-bottom:3px solid #ed145b;
					margin-bottom:-3px;
					max-width:120px;
					max-height:120px;
					margin-top:13px;
									}
		}
	}
}