.me-text-cta-landing-offer{

	.column-text-cta{
	h4,.h4{
		font-size:25px;
	}
	.subheading{
		text-transform:uppercase;
		color:#ed145b;
	}
	img{
		margin-bottom:30px;
	}
	.h4{
		margin-bottom:30px;
	}
	h2{
		margin-top:30px;
		font-size:41px;
		margin-bottom:30px;
		max-width:300px;
	}
	p{
		color:#b7b7b7;
		font-size:18px;
	}
	.cta_button{
		margin-top:30px;
		background-color: #ed145b;
	    color: white;
	    border-color: #ed145b;
	}
	@media(max-width:767px){

			margin-top:30px;
	
	}
}
}