.turbo-mercuric {
    .me-portfolio-item-v1-wrapper {

        > span {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: auto;

            > div {
                display: inline-block;
                position: relative;
                width: 100%;
                height: auto;
                overflow: hidden;
                z-index: 0;
            }

            >.one-to-one {
                width: 25%;
                padding-bottom: 25%;
                max-height: 425px;

                @media (max-width: 1300px) {
                    width: 50%;
                    padding-bottom: 50%;
                }
                @media (max-width: 767px) {
                    width: 100%;
                    padding-bottom: 100%;
                }
            }

            >.one-to-two {
                width: 25%;
                padding-bottom: 50%;

                @media (max-width: 1300px) {
                    width: 50%;
                    padding-bottom: 50%;
                }
                @media (max-width: 767px) {
                    width: 100%;
                    padding-bottom: 100%;
                }
            }

            >.two-to-one {
                width: 50%;
                padding-bottom: 25%;
                max-height: 425px;

                @media (max-width: 1300px) {
                    width: 50%;
                    padding-bottom: 50%;
                }
                @media (max-width: 768px) {
                    width: 100%;
                    padding-bottom: 100%;
                }
            }
        }
    }
    .me-portfolio-box-v1 {
        &:hover {
            .me-portfolio-box-v1 {
                &__image {
                    transform: scale(1);
                }
                &__mask {
                    opacity: 1;
                }
                &__content {
                    transform: scale(0.9);
                    transition-delay: 0.4s;
                }
            }
        }
        &__image,
        &__mask,
        &__content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        &__image {
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            z-index: 1;
            transform: scale(1);
            transition: all 0.9s ease;
        }
        &__mask {
            // background-color: rgba( {{$dark|convert_rgb}}, 0.78);
            transition: all 0.7s;
            opacity: 0;
        }
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 50px;
            text-align: center;
            color: #FFFFFF;
            transform: scale(0);
            transition: all 0.6s;
            transition-delay: 0s;
            z-index: 3;

            &:before {
                display: none;
            }

            h1, h2, h3, h4, h5, span, ul li {
                color: inherit;
            }

            h4 {
                margin-bottom: 15px;
            }
        }
    }
}