.turbo-mercuric {
    .me-307-blog {
        display: block;
        width: 100%;
        .blogs-tags {
            padding: 50px 0;
            >div {
                >div {
                    >div {
                        @media (max-width: 1170px) {
                            width: 100%;
                        }
                        >div {
                            @media (max-width: 1170px) {
                                margin: 0;
                            }
                        }
                    }
                }
            }
            .block {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                @media (max-width: 877px) {
                    justify-content: center;
                }
                h3 {
                    font-size: 20px;
                    font-weight: 500;
                    margin-right: 20px;
                    @media (max-width: 768px) {
                        margin-bottom: 20px;
                    }
                }
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    li {
                        margin-right: 20px;
                        transition: transform .3s ease-in-out;
                        &:hover {
                            transform: scale(1.05);
                        }
                        @media (max-width: 768px) {
                            margin-bottom: 10px;
                        }
                        &:before {
                            display: none;
                        }
                        a {
                            padding: 5px 10px;
                            color: #FFFFFF;
                            background-color: #ed145b;
                            border-radius: 30px;
                            &:before {
                                display: none;
                            }
                            .filter-link-count {
                                display: none;
                            }
                        }
                    }
                }
                .filter-expand-link {
                    display: none;
                }
            }
        }
        .isotope-container {
            .blogs-wrapper {
                border-radius: 10px;
                .blog-box {
                    display: block;
                    width: 100%;
                    max-width: 360px;
                    border-radius: 5px;
                    border: 1px solid #f5f5f5;
                    margin-bottom: 30px;
                    transition: all 0.3s ease-in-out;
                    @media (max-width: 768px) {
                        max-width: 100%;
                    }
                    &:hover {
                        box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1);
                        img {
                            transform: scale(1.05);
                        }
                    }
                    img {
                        max-width: 100%;
                    }
                    &__content {
                        padding: 30px 20px;
                        a {
                            &:before {
                                display: none;
                            }
                        }
                        h4 {
                            padding: 20px 0;
                        }
                        p {
                            font-weight: 400;
                        }
                    }
                    .date-published {
                        display: flex;
                        align-items: center;
                        margin: 0 20px 30px;
                        i {
                            display: block;
                            color: #b7b7b7;
                            margin: 0 10px;
                            font-size: 24px;
                        }
                    }
                    &--quote {
                        display: flex;
                        flex-direction: column;
                        align-content: center;
                        justify-content: center;
                        position: relative;
                        padding: 20px 25px;
                        background-color: #ed145b;
                        color: #fff;
                        &:before {
                            content: '';
                            position: absolute;
                            background-image: url(https://cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo%20Mercuric/Blog-301/quote-mark.png?t=1525266720320);
                            background-repeat: no-repeat;
                            background-position: center;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                        }
                        .quote-author,
                        .post-date {
                            position: absolute;
                            color: #FFFFFF;
                        }
                        .quote-author {
                            top: 20px;
                            right: 25px;
                            font-style: italic;
                        }
                        .post-date {
                            bottom: 20px;
                            left: 25px;
                        }
                        p {
                            text-align: center;
                            font-style: italic;
                            padding: 20px 0;
                        }
                    }
                }
            }
        }
        .input-wrapper {
            display: block;
            position: relative;
            input {
                appearance: none;
                background-color: transparent;
                margin: 0;
                border: none;
                color: #b7b7b7;
                font-size: 1rem;
                border: 1px solid #ebebeb;
                border-radius: 25px;
                min-width: 247px;
                line-height: 2.25rem;
                padding: 10px 50px 10px 10px;
                text-align: right;
                transition: all .3s ease-in-out;
                &::placeholder {
                    color: #b7b7b7;
                    opacity: 1;
                }
                &:hover {
                    box-shadow: 0px 4px 15px -8px rgba(0, 0, 0, 0.75);
                    border: 1px solid #ee1b60;
                }
            }
            #search-btn {
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
                svg {
                    display: block;
                    stroke: #ee1b60;
                    fill: #ee1b60;
                }
            }
        }
    }
}