.turbo-mercuric {

    .me-hero-banner-oval-gradient {
        padding: 140px 0 220px;
        background-color: hubl("$dark");
        position: relative;
        min-height: 800px;

        @media (max-width: 767px) {
            padding: 140px 0 70px;
            min-height: none;
        }

        .me-oval-gradient {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: radial-gradient(circle closest-side, rgba(255, 255, 255, .15) 0%, rgba(176, 176, 227, 0) 100%);
        }

        .me-container {
            position: relative;
            display: flex;

            @media (max-width: 767px) {
                flex-wrap: wrap;
            }
        }

        &__image-wrapper,
        &__text-wrapper {
            width: 50%;

            @media (max-width: 767px) {
                width: 100%;
            }
        }

        &__image-wrapper {
            text-align: center;
            
            &--right {
                order: 1;

                @media (max-width: 767px) {
                    order: 0;
                }
            }
        }

        &__text-wrapper {
            display: flex;
            align-items: center;

            @media (max-width: 767px) {
                margin-top: 20px;
            }
        }

        &__cta-wrapper {
            margin-top: 40px;

            p {
                display: flex;
                flex-wrap: wrap;
            }

            .hs-cta-wrapper {

                .cta_button {
                    margin-bottom: 20px;
                    margin-right: 20px;
                }
            }
        }
    }
}