.turbo-mercuric {

    .me-testimonials-slide {
        width: 100%;
        text-align: center;
        
        &__quota {

            i {
                font-size: rem(60);
                color: hubl("$first_color");
            }
        }

        &__content {
            margin-top: 25px;
            padding: 0 20px;

            p {
                font-size: rem(36);
                line-height: 1.4;
                font-style: italic;
                color: hubl("$main_font_color");

                @media (max-width: 580px) {
                    font-size: rem(26);
                }
            }
        }

        &__pagination-element {
            text-align: center;
            padding-top: 20px;
            position: relative;
            cursor: pointer;
            -webkit-transform: translate3d(0,0,0);

            &:before, &:after {
                content: '';
                display: block;
                height: 2px;
                position: absolute;
                top: 130px;
                
                transition: opacity 0.6s;
            }

            &:before {
                left: 0;
                width: 100%;
                background-color: #e8e9ed;
            }

            &:after {
                background-color: hubl("$first_color");
                width: 100px;
                opacity: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            &-avatar {
                margin: 0 auto;
                background-size: cover;
                width: 65px;
                height: 65px;
                background-position: center center;
                border-radius: 50%;
                margin-bottom: 75px;
                transform: scale(1);
                transition: transform 0.3s ease;
            }

            &-description {
                opacity: 0;
                transition: opacity 0.3s;

                .hs_cos_wrapper_type_inline_rich_text {

                    h1, h2, h3, h4, h5, h6, p {
                        margin-bottom: rem(5);
                    }
                }
            }
        }
    }


    .me-testimonials-slider {

        .me-testimonials-main-slider {
            margin: 0px auto 70px;
            max-width: 450px;
            padding: 0px;
            width: 100%;

            .slick-track {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
            }
        }

        .me-testimonials-nav-slider {
            margin: 0 auto;
            max-width: 1170px;
            padding: 0;
            width: 100%;
            position: relative;

            .slick-current, .fake-current {

                .me-testimonials-slide__pagination-element-avatar {
                    transform: scale(1.6);
                }

                .me-testimonials-slide__pagination-element-description {
                    opacity: 1;
                    transition: opacity 0.3s;
                }

                &:after{
                    opacity: 1;
                }
            }
        }
    }
}
