.turbo-mercuric {
    .me-hero-banner {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        @media(max-width: 580px) {
            background-attachment: scroll;
            height: auto;
        }
        &--small {
            min-height: 500px;
            @media (max-width: 580px) {
                min-height: 0;
            }
        }
        &--big {
            min-height: 730px;
            padding: 70px 0;
            @media(max-width: 580px) {
                min-height: 0;
            }
        }
        &--auto {
            min-height: 0;
            height: auto;
        }
        .me-mask {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .78;
            &--gradient {
                background: linear-gradient(57deg, hubl('$second_color') 20%, hubl('$first_color') 80%);
            }
            &--dark {
                background-color: #000;
            }
        }
        &__content {
            z-index: 2;
        }
    }
    .banner-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        .main-content {
            display: block;
            float: left;
            margin: 0;
            padding: 0 15px;
            max-width: 650px;
            width: 100%;
            h1,
            p {
                color: #FFFFFF;
            }
            h1 {
                margin-bottom: 40px;
            }
            .wrapper-box {
                display: block;
                width: 100%;
                margin: 30px 0;
                .box {
                    display: flex;
                    margin-bottom: 10px;
                    i {
                        font-size: 72px;
                        color: #FFFFFF;
                    }
                    &__content {
                        display: block;
                        margin-left: 20px;
                        h5,
                        p {
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
        .form-wrapper {
            width: 100%;
            max-width: 460px;
            z-index: 1;
            form {
                display: block;
                background: #FFF;
                padding: 50px;
                border-radius: 5px;
                -webkit-box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.75);
                @media (max-width: 768px) {
                    padding: 30px;
                }
                @media (max-width: 1170px) {
                    margin: 20px 0;
                }
                >span {
                    @media (max-width: 768px) {
                        width: 100%;
                    }
                }
                @media (max-width: 768px) {
                    margin-top: 25px;
                }
                h2 {
                    padding: 10px 0;
                }
                input {
                    color: #292935;
                    border-bottom: 1px solid #292935;
                    &::placeholder {
                        color: #292935;
                    }
                    &:focus,
                    &:hover,
                    &:visited {
                        color: #FFFFFF;
                        &::placeholder {
                            color: #FFFFFF;
                        }
                        .fake-placeholder {
                            color: white;
                            bottom: -30px;
                        }
                    }
                }
                input[type="submit"] {
                    color: #fff;
                    border: 2px solid #ED145C;
                }
            }
        }
    }
}