.turbo-mercuric {
    .me-next-prev-article-wrapper {
        > span {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            > div {
                display: block;
                width: 50%;

                @media (max-width: 767px) {
                    width: 100%;
                }
            }
        }
    }

    a {
        display: block;
    }

    .me-next-prev-article {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 400px;
        overflow: hidden;
        transition: all .4s ease-in-out;

        &:hover {
            .me-next-prev-article {
                &__image {
                    transform: scale(1.1);
                }

                &__content {
                    h3 {
                        color: hubl("$first_color");
                    }
                }
            }
        }

        &__image {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: all .4s ease-in-out;

            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }

        &__mask {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &__content {
            position: relative;

            h3 {
                color: inherit;
                transition: all .4s ease-in-out;

                @media (max-width: 991px) {
                    font-size: rem(30);
                }
            }
        }
    }
}