.turbo-mercuric {

    .me-feature-boxes-wrapper {

        >span {
            display: flex;
            flex-wrap: wrap;

            >div {
                min-height: 300px;

                &.one-fifth {
                    width: 20%;
                }

                &.quarter {
                    width: 25%;
                }

                &.thirty {
                    width: 30%;
                }

                &.fourty {
                    width: 40%;
                }

                &.half {
                    width: 50%;
                }

                &.seventy {
                    width: 70%;
                }

                @media (max-width: 991px) {
                    &.one-fifth, &.quarter, &.thirty, &.fourty, &.half, &.seventy {
                        width: 50%;
                    }
                }

                @media (max-width: 767px) {
                    &.one-fifth, &.quarter, &.thirty, &.fourty, &.half, &.seventy {
                        width: 100%;
                    }
                }
            }
        }
    }

    &.me-feature-box-redirect {
        display: flex;
        width: 100%;
        height: 100%;
        text-decoration: none;
        text-transform: none;

        &:hover {

            &:before {
                display: none;
            }

            .me-feature-box {

                &__background-holder {
                    transform: scale(1.05);
                }

                &__mask {
                    opacity: 0.5;
                }

                &__mask-hover {
                    background-color: hubl("$dark");
                    opacity: 0.1;
                }
            }
        }

        .me-feature-box {
            width: 100%;
            height: 100%;
            padding: 50px 0;
            position: relative;
            z-index: 1;
            transition: .3s all linear;
            overflow: hidden;
            display: flex;
            align-items: center;

            &__mask,
            &__mask-hover,
            &__background-holder {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                transition: .3s all linear;
            }

            &__mask {
                background-color: hubl("$dark");
                opacity: 0.3;
            }

            &__mask-hover {
                background-color: hubl("$dark");
                opacity: 0;
            }

            &__background-holder {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            &__content-wrapper {
                position: relative;
                max-width: 600px;
                padding: 0 50px;
                margin: 0 auto;
                z-index: 1;

                @media (max-width: 767px) {
                    padding: 0 25px;
                    max-width: none !important;
                }

                &--center {
                    margin: 0 auto;

                    @media (max-width: 767px) {
                        margin-left: 0;
                    }
                }

                &--left {
                    margin-left: 0;
                }

                &--right {
                    margin-right: 0;

                    @media (max-width: 767px) {
                        margin-left: 0;
                    }
                }                
            }

            &__icon {
                margin-bottom: 30px;
            }
        }
    }
}
