.turbo-mercuric {
    .wrapper-slider {
        display: block;
        width: 100%;
        max-width: 1170px;
        margin: 80px auto;
        position: relative;

        .controls {
            position: absolute; 
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 50px 120px;
            background-color: rgba(0, 0, 0, 0.5);

            .prevSlide {
                display: inline-block;
                position: relative;
                float: left;
                top: 13px;
            }

            .nextSlide {
                display: inline-block;
                position: relative;
                float: right;
                top: 13px;
            }
        }

        // SLICK MODIFY

        .slick-arrow {
            width: 50px;
            height: 50px;

            &:before {
                font-family: 'ClickrayIcons';
                font-size: 50px;
                font-weight: 600;
                color: #fff;
            }
        }

        .slick-prev,
        .slick-next {
            position: absolute;
            top: auto;
            bottom: 25px;
            z-index: 2;
        }

        .slick-prev {
            left: 35px;

            &:before {
                content: '\e93d';
            }
        }

        .slick-next {
            right: 35px;
            z-index: 2;

            &:before {
                content: '\e93c';
            }
        }

        .slick-dots {
            display: block;
            position: absolute;
            bottom: 55px;
            z-index: 2;
    
            li {
                &:before {
                    width: 20px;
                    height: 20px;
                    font-size: 20px;
                    color: hubl("$secondary_text");
                }
    
                button {
                    &:before {
                        display: none;
                        font-size: 20px;
                        opacity: 1;
                        color: hubl("$secondary_text");
                    }
                }
            }
    
            .slick-active {
                li {
                    &:before {
                        color: hubl("$lightGrey");
                    }
                }
            }
        }
    }
}
