.turbo-mercuric {
    .me-video {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.75);
        .mask {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .78;
            z-index: 2;
            transition: all .3s linear;
        }
        .video-play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            color: #fff;
            z-index: 3;
            opacity: 1;
            transition: all .3s linear;
            i,
            svg {
                font-size: 122px;
                color: #FFFFFF;

                @media (max-width: 767px) {
                    font-size: 60px;
                }
            }
            &:hover {
                &:before {
                    display: none;
                }
            }
        }
        &__video {
            video {
                display: block;
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                z-index: 1;
            }

        &--iframe {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }
        }
        &.player-active {
            .mask,
            .video-play {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}