.turbo-mercuric {
    .me-pricing-info-3 {
        @media (max-width: 900px) {
            display: none;
        }
        &__content {
            padding: 70px 0 102px;
            border-right: 1px solid #d7d7d7;
            border-bottom: 1px solid #d7d7d7;
            @media (min-width: 900px) and (max-width: 925px) {
                padding: 70px 0 156px;
            }
            @media (min-width: 925px) and (max-width: 1070px) {
                padding: 70px 0 129px;
            }
            h2 {
                font-weight: 500;
                margin: 20px 0;
            }
            i,
            svg {
                font-size: 90px;
            }
        }
        &__offers {
            ul {
                li {
                    padding: 35px 0;
                    border-right: 1px solid #d7d7d7;
                    border-bottom: 1px solid #d7d7d7;
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}