.turbo-mercuric {
    .me-image-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        min-height: 750px;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);

        &__image,
        &__form {
            display: block;
            width: 50%;

            @media (max-width: 767px) {
                width: 100%;
            }
        }

        &__image {
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            @media (max-width: 767px) {
                height: 500px;
            }
        }

        &__mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &__form {
            position: relative;
            padding: 70px 40px;
            background-color: #FFFFFF;

            h1, h2, h3, h4, h5, p, span, ul li {
                color: inherit; 
            }

            form {
                .dropdown-header {

                    &:after {
                        content: "\e90e";
                        font-family: 'ClickrayIcons' !important;
                        font-size: 30px;
                        font-weight: 400;
                        transform: rotate(0deg);
                        top: 5px;
                    }

                    &.slide-down {
                        &:after {
                            transform: rotate(90deg);
                        }
                    }
                }

                .dropdown-list {
                    z-index: 999;
                }
            }
        }
        &.reverse {
            .me-image-form {
                &__image {
                    order: 2;
                }

                &__form {
                    order: 1;
                }
            }
        }
    }
}