.turbo-mercuric {
    .me-pricing-wrapper {
        >span {
            display: flex;
            @media (max-width: 768px) {
                flex-direction: column;
            }
            >div {
                width: calc(100%/4);
                margin: 0;
                @media (max-width: 900px) {
                    width: 100%;
                    &:nth-child(1) {
                        display: none;
                    }
                }
            }
        }
    }
    .me-pricing-box-3 {
        &__content {
            padding: 30px 0;
            text-align: center;
            h4 {
                color: #FFFFFF;
            }
        }
        &__price {
            padding: 30px;
            text-align: center;
            border-right: 1px solid #d7d7d7;
            border-bottom: 1px solid #d7d7d7;
            .me-price {
                margin: 0 auto;
                .me-payment,
                .me-price,
                .me-small,
                .me-mo {
                    color: #000000;
                }
                .me-payment,
                .me-small {
                    font-size: 36px;
                    font-weight: 400;
                }
                .me-price {
                    font-size: 64px;
                    font-weight: 600;
                }
                .me-small {
                    vertical-align: top;
                }
                .me-mo {
                    font-size: 10px;
                    font-weight: 600;
                    margin-left: -25px;
                }
            }
            p {
                margin-top: 30px;
            }
        }
        &__offers {
            ul.me-option {
                padding-bottom: 30px;
                li.me-item {
                    position: relative;
                    font-size: 1rem;
                    padding: 35px 0 38px;
                    border-bottom: 1px solid #d7d7d7;
                    border-right: 1px solid #d7d7d7;
                    text-align: center;
                    min-height: 98px;
                    &:before {
                        display: none;
                    }
                    &.me-empty {
                        display: block;
                        position: relative;
                        max-width: 100%;
                        padding: 22px 0;
                        &:after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 10px;
                            height: 10px;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            border-radius: 50%;
                            background-color: #ed145b;
                            border-radius: 50%;
                            -webkit-transform: translate(-50%, -50%);
                            -moz-transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                            -o-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                            opacity: 0.5;
                        }
                        &.removeDots {
                            padding: 35px 0 38px;
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .me-background-offer {
        &--normal {
            background-color: #d7d7d7;
        }
        &--hightlight {
            background-color: #ed145b;
        }
    }
    &.last {
        &__price {
            border-right: 0;
        }
        &__offers {
            ul.me-option {
                li.me-item {
                    border-right: 0;
                }
            }
        }
    }
}