.turbo-mercuric {
    .me-case-study-box-v1-wrapper {
        > span {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media (max-width: 1140px) {
                justify-content: center;
            }

            > div {
                display: block;
                width: 100%;
                max-width: 360px;
                margin: 15px 0;
                perspective: 1200px;

                @media (max-width: 1140px) {
                    margin: 15px 2% 15px;
                }

                @media (max-width: 815px) {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }

    .me-case-study-box-v1 {

        &__flipper {
            position: relative;
            width: 100%;
            height: 360px;
            transition: 1.2s ease;
            transform-style: preserve-3d;
            transform: rotateY(-180deg);
        }

        &__front,
        &__back,
        &__mask,
        &__image,
        &__wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &__image {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }

        &__front {
            transform-style: preserve-3d;
            z-index: 2;
        }

        &__back {
            position: relative;
            padding: 20px;
            transform-style: preserve-3d;
            z-index: 3;
            backface-visibility: hidden;

            a {
                text-decoration: none;

                &:before {
                    display: none;
                }
            }
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3, p, a {
                color: inherit;
            }
        }

    }
    .rotate {
        transform: rotateY(0deg);
    }
}