.turbo-mercuric {

	.me-counter-section {
	    display: flex;

	    &__background-image {
	    	width: calc(100% - 975px);
	    	max-width: 40%;
	        background-size: cover;
	        background-position: center;
	        background-repeat: no-repeat;

	        @media (max-width: 1024px) {
	            display: none;
	        }
	    }

	    &__content {
	        width: 975px;
	        padding: 105px 15px 65px 60px;

	        @media (max-width: 1024px) {
	            width: 100%;
	            max-width: 1024px;
	            padding: 105px 15px 65px 15px;
	            min-width: 0;
	        }
	    }

	    &__counter-boxes-wrapper {
	    	display: flex;
	    	margin-top: 50px;

	    	@media (max-width: 767px) {
	    		display: block;
	    	}
	    }


		&__counter-box {
			max-width: 290px;
			width: 100%;
			display: flex;
			align-items: center;
			margin-bottom: 40px;
			margin-right: 40px;
			border-right: 1px solid #fff;

			&:last-of-type {
				border-right: none;
			}

			@media (max-width: 1024px) {
				margin-right: 0;
				border-right: none;
			}

		}

		&__counter-box-icon {
			margin-right: 20px;

			i {
				color: #fff;
				font-size: rem(75);

				@media (max-width: 767px) {
					font-size: rem(60);
				}
			}
		}

		&__counter-box-text {

			p {
				font-size: rem(20);
				margin-bottom: 0;
				font-weight: 400;
				
				@media (max-width: 580px) {
		           font-size: rem(18);
		        }
			}

			span {
				font-size: rem(41);
				font-weight: 900;

		        @media (max-width: 580px) {
		            font-size: rem(30);
		        }
			}
		}
	}
}