.me-141-our-clients{

	.rich-text{
		max-width:800px;
		margin:auto!important;
		p{
			color:#b7b7b7;
			font-size:20px;
		}
	}
	.flex-client-container{
		span{
			display: flex;
			flex-flow: row wrap;
  			justify-content:center;
  			display: flex;
		    -webkit-align-content: center;
		    -ms-flex-line-pack: center;
		    align-content: center;
		    -webkit-box-pack: center;
		    -webkit-justify-content: center;
		    -moz-box-pack: center;
		    -ms-flex-pack: center;
		    justify-content: center;
		    position: relative;
		    display: -webkit-box;
		    display: -webkit-flex;
		    display: -moz-box;
		    display: -ms-flexbox;
		    -webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		    z-index: 2;
		
			.hs_cos_wrapper_type_custom_widget{
				width: 20%;
			  	margin: auto;  /* Magic! */
			  	text-align:center;
			}
			@media(max-width:992px){
				.hs_cos_wrapper_type_custom_widget{
					width:33%;
				}
			}
			@media(max-width:768px){
					.hs_cos_wrapper_type_custom_widget{
					width:50%;
				}
			}
			@media(max-width:480px){
					.hs_cos_wrapper_type_custom_widget{
					width:100%;
				}
			}

		}
		
	}
	.second-section{
		padding:100px 0px;
		.subheading{
			font-size:20px;
			color: #ed145b;
			text-transform:uppercase;
		}
	}
	.pad{
		padding:100px 0px;
	}
	.hero-banner2{
		background-color:#292935;
	}
	.counter-section-wrapper{
		margin-top:0px;
		margin-bottom:0px;
	}
	.column-text-cta{
		img{
			margin-bottom:40px;
		}
		h2{
			max-width:1000px;
		}
	}
	.bottom-section{
		.widget-type-rich_text{
			
			p{
				margin-bottom:50px
			}
		}
		padding:100px 0px;

		.column-text-cta h2{
			max-width:1000px;
			font-size:51px;
		}
		.cta_button{
			text-transform:uppercase;
			margin-bottom:30px;
			font-size:16px;
			width:100%;
			text-align:left;
		}
		p{
			color:#b7b7b7;
			font-size:16px;
		}
		h5{
			text-transform:uppercase;
			text-align:center;
			font-size:16px;
			margin:20px 0px;
		}
		hr {
		    display: block;
		    height: 1px;
		    border: 0;
		    border-top: 1px solid #f2f2f2;
		    margin: 1em 0;
		    padding: 0; 
		}
		@media(min-width:768px){
			.right-background:before{
				    background-image: url(https://cdn2.hubspot.net/hubfs/685080/pexels-photo-205316.png);
				    content: "";
				    display: block;
				    width: 50%;
				    background-repeat: no-repeat;
				    height: 600px;
				    background-position: left center;
				    position: absolute;
				    right: 0px;


			}
		}
		@media(min-width:1790px){
			.right-background:before{
				background-position: right center;
			}
		}
	}
	.question-v2 {
    display: flex;
    @media (max-width: 1023px) {

        flex-wrap:wrap;
    }

    .left {
        width: 50%;
        padding: 95px 0px;
        @media (max-width: 1023px) {
            width: 100%;
            padding: 95px 0px 0px 0px;
        }
        .half-container {
            margin-right: 0px;
            margin-left: auto;
            @media (max-width: 1023px) {
                max-width: 100%;
                margin: 0 auto;
            }
        }

        .widget-type-rich_text {
            margin-bottom: 35px;
            h4 {
                color: hubl("$first_color");
                font-weight: 400;
                font-size: rem(20);
                margin-bottom: 20px;
            }
            h2 {
                font-weight: 400;
                line-height: rem(52);
                margin-bottom: 30px;
            }
            p {
                color: hubl("$second_font_color");
            }
        }

        
    }
    .right {
        margin-left: 60px;
        width: 50%;
        background-position: center right;
        background-size: 100%;
        background-repeat: no-repeat;
        .inner-img {
            display: none;
        }
        @media (max-width: 1023px) {
            width: 100%;
            margin-left: 15px;
            background: none!important;
            margin-bottom: 50px;
            .inner-img {
                display: block;
                margin-right: 0px;
                margin-left: auto;
            }
        }
    }
}

.accordion-wrapper {

    & > span > div {
        &:after {
            display: block;
            content: '';
            border-bottom: 1px solid #f2f2f2;
        }

        &:last-of-type {
            &:after {
                display: none;
                content: '';
                border-bottom: 0px;
            }
        }

        &:first-of-type {
            .accordion-panel.open  {
                .header {
                    margin-top: 0;
                }
            }
        }
    }
}

.accordion-panel {
    width: 100%;

    .header {
    	cursor: pointer;
        max-width: 100%;
        border-radius: 0px;
	    padding: 0;
	    text-transform: uppercase;
	    padding: 25px 45px;
	    box-shadow: none;
	    transition: 0.3s all linear;
	    margin-bottom: 0px;
	    display: inline-block;
        border-radius: 50px;
        h3{
        	text-transform: uppercase;
		    font-size: 16px;
        }
    }
    .body {
        display: none;
        padding: 0px 15px;
        max-width: 100%;
        margin: 0 auto;
        p,
        span,
        ul,
        ol {
            width: 100%;
            display: block;
            color: hubl("$second_font_color");
        }
    }
    &.open {
        .header {
           background: hubl("$first_color");
	        box-shadow: 0px 0px 16.56px 1.44px rgba(100, 22, 48, 0.4);
	        padding: 25px 45px;
	        border-radius: 50px;
	        margin-bottom: 30px;
            margin-top: 30px;
	        border:none;
	        h3 {
	        	color: #fff;
	            font-size: 16px;
	        }
        }
    }
}
}