.turbo-mercuric {
    .me-support-banner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 590px;

        .me-mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &__content {
            display: block;
            z-index: 1;
            text-align: center;

            h1, h2, h3, h4, h5, h6, p, span, ul li {
                color: inherit;
            }

            h1 {
                padding-bottom: 10px;
            }
        }

        &__search-form {
            display: block;
            width: 100%;
            margin-top: 50px;

            form {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                position: relative;
                max-width: 630px;
                margin: 0 auto;

                #searchInput {
                    background-color: #FFFFFF;
                    border-radius: 30px;
                    padding: 17.5px 20px;
                    margin: 0 20px;

                    @media (max-width: 1024px) {
                        margin: 20px;
                    }

                    &:focus,
                    &:active {
                        border: 1px solid #ed145b;
                    }
                }

                .me-button {
                    @include me-button;
                    @include me-button--primary;
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}