.turbo-mercuric {
    .me-support-topic-wrapper {
        > span {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @media (max-width: 767px) {
                justify-content: center;
            }

            > div {
                width: 30%;
                margin-bottom: 50px;

                @media (max-width: 767px) {
                    width: 50%;
                }

                @media (max-width: 600px) {
                    width: 100%;
                }
            }
        }
    }

    a {
        &:before {
            display: none;
        }
    }

    .me-support-topic {
        &__content {

            p {
                &:nth-of-type(1) {
                    color: #000000;
                }
            }

            a {
                color: #000000;
                font-weight: 600;
            }
        }

        &:hover {
            .me-support-topic {

                &__content {
                    a {
                        transform: translateY(-5px);
                    }
                }
            }
        }
    }
}