.turbo-mercuric {

	.me-testimonials-slider-v2 {

		.me-testimonials-slide-v2 {
			text-align: center;

			&__avatar {
				position: relative;
				width: 140px;
				height: 140px;
				border-radius: 50%;
				border: 4px solid hubl("$lightGrey");
				overflow: hidden;
				margin: 0 auto;
				margin-bottom: 40px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}

			&__content {
				margin-bottom: 40px;
			}

			&__author-text {
				margin-bottom: 30px;

				p {
					color: hubl("$main_font_color");
				}

				small {
					span {
						color: hubl("$first_color");
					}
				}
			}
		}
	}

	.slick-dots {
		position: relative;
		bottom: 0;

		li {

			&:before {
				display: none;
			}

			button {

				&:before {
					font-size: 24px;
					transition: all .2s linear;
				}
			}
		}

		li.slick-active, li:hover {

			button {

				&:before {
					color: hubl("$first_color");
				}
			}
		}
	}
}