.turbo-mercuric {
    .client-reviews-slider {
        padding: 100px 0;

        .slidePrev {
            transform: translateX(340px) scale(1);
        }
        .slideNext {
            transform: translateX(-340px) scale(1);
        }
        
        .slick-slide {
            padding: 50px 0;
            opacity: .7;
            transition: all .4s ease-in-out;
        }
        .slick-current.slick-slide, .fake-current.slick-slide {
            position: relative;
            visibility: visible;
            transform: translateX(0) scale(1.2);
            opacity: 1;
            z-index: 3;
        }
    }
    .me-client-review {
        display: block;
        background-color: #FFFFFF;

        &--size {
            max-width: 630px;
            width: 630px;

            @media (max-width: 767px) {
                width: 100%;
            }
        }
        &--space {
            padding: 70px;
        }

        &__mark {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .me-data,
            .me-stars {
                display: inline-block;
            }
            .me-data {

                @media (max-width: 480px) {
                    font-size: rem(16);
                }
            }
            .me-stars {
                display: flex;

                img {
                    max-width: 15px;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &__comment {
            display: block;
            margin: 50px 0;
        }
        &__author {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            @media (max-width: 480px) {
                justify-content: center;
                text-align: center;
            }
        }
        &__avatar,
        &__details {
            display: inline-block;
            float: left;
        }
        &__avatar {
            width: auto;

            @media (max-width: 480px) {
                margin: 0 auto 20px;
            }

            img {
                display: block;
                min-width: 80px;
                max-width: 80px;
                width: 100%;
                border: 2px solid hubl("$first_color");
                border-radius: 50%;
            }
        }
        &__details {
            margin: 0 30px;
            p {
                font-size: 20px;
                font-weight: 600;
                color: #000000;
            }
            span {
                font-size: 14px;
                font-weight: 400;
                color: hubl("$first_color");
                text-transform: uppercase;
            }
        }
    }
}