.turbo-mercuric{

.slider-wrapper {
	margin: 50px 0;
}
.slider-wrapper .slick-arrow {
	display: none !important;
}
.slider-wrapper .slick-dots li:before {
	display: none;
}

.slider-wrapper .slick-dots li button:before {
	color: #ed145b;
}
.me-about-wrapper {
	padding: 50px 0;
}
.me-about-wrapper p {
	max-width: 660px;
  margin: 0 auto;
}

.me-single-person-wrapper > span {
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 80px 0;
}

.me-single-person-wrapper > span > div{
	margin: 0 auto 50px;
}
.customer-services-worker{
	display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
.avatar{

	    min-width: 120px;
    width: 120px;
    height: 120px;
    margin-right: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
}

 .content h3, .customer-services-worker h2, .content h2, .post-item.quote h2, .content h2{
 	    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 1.5625rem;
    font-weight: 600;
}
.content p{
	font-size: 1.125rem;
    margin-bottom: 5px;
    font-weight: 300;
    color: #b7b7b7;
}
.content a{

	position: relative;
    display: inline-block;
    color: hubl("$first_color");
    text-decoration: none;
}
}
@media(max-width:768px){
.right-column{

	padding-top:30px;
	
}

}
@media(max-width:400px){

		.content p{
			font-size: 0.8rem!important;
		}

}
}