.turbo-mercuric {
    .me-thanks-wrapper {
        display: flex;
        padding-bottom: 90px;
        hr {
            display: block;
            height: 1px;
            border-top: 1px solid #ebebeb;
            margin: 1em 0;
            padding: 0;
        }
    }
}