.turbo-mercuric {

    .me-hero-banner {
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
        padding: 50px 0;

        @media (max-width: 580px) {
            background-attachment: scroll;
            height: auto;
        }

    &--small {
        min-height: 500px;

        @media (max-width: 580px) {
            min-height: 0;
        }
    }

    &--big {
        min-height: 800px;

        @media (max-width: 580px) {
            min-height: 0;
        }

        .me-hero-banner__content {
            h1, .me-h1 {
                @media (min-width: 992px) {
                    margin-bottom: 35px;
                }
                @media (max-width: 991px) {
                    margin-bottom: 30px;
                }
            }
        }
    }

    &--auto {
        min-height: 0;
        height: auto;
        padding: 0;
    }

        .me-mask {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .77;

            &--gradient {
                background: linear-gradient(57deg, hubl("$second_color") 20%, hubl("$first_color") 80%);
            }

            &--dark {
                background: hubl("$dark");
            }
        }

        &__background-video-wrapper {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;

            video {
                position: relative;
                min-width: 100%;
                height: 100%;
                max-width: none;

                &::-webkit-media-controls {
                    display: none;
                }
            }
        }
        &__content.me-container {
            margin: 50px auto;
        }

        &__content{
            z-index: 3;
            color: #fff;
            text-align: center;

            h1, .me-h1 {
                color: inherit;
                margin: 25px 0;

                @media (max-width: 991px) {
                    margin: 20px 0;
                }
            }

            p {
                color: inherit;
                margin: 20px 0;
                font-weight: 300;

                &.me-big {

                    p {
                        font-size: inherit;
                        font-weight: inherit;
                    }
                }

                &.me-subheading  {
                    margin: 25px 0;
                }
            }

            .me-manual {

                p, li, a, strong, span {
                    font-size: inherit;
                }
            }
        }

        &__cta-wrapper {

            p {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-top: 40px;
                margin-bottom: 0;

                > span {
                    margin: 0px 10px 20px;
                }
            }
        }
    }
}

.ios {
    .me-hero-banner {
        background-attachment: scroll;
    }
}