.turbo-mercuric {
    .me-portfolio-box-v3-wrapper {
        > span {
            display: flex;
            flex-wrap: wrap;

            > div {
                display: block;
                width: 33.33%;
    
                @media (max-width: 700px) {
                    width: 100%;
                }
    
                @media (min-width: 700px) and (max-width: 1024px) {
                    width: calc(100%/2)
                }
            }
        }
    }

    .me-portfolio-box-v3 {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        padding-bottom: 100%;
        z-index: 0;
        overflow: hidden;

        &:hover {
            .me-portfolio-box-v3 {
                &__mask {
                    opacity: 1;
                }

                &__content {
                    transform: scale(1);
                }
            }
        }

        &__image,
        &__mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &__image {
            z-index: 1;
            background-size: cover;
            background-position: center center;
            transition: all .9s ease;
        }

        &__mask {
            z-index: 2;
            //background: rgba({{ $dark|convert_rgb }},0.78);
            transition: opacity 0.7s;
            opacity: 0;
        }

        &__content {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            left: 0;
            width: calc(100% - 50px);
            height: calc(100% - 50px);
            background-color: transparent;
            margin-top: 25px;
            margin-left: 25px;
            color: #FFFFFF;
            text-decoration: none;
            transition: all .7s;
            transform: scale(0);
            z-index: 3;

            &:before {
                display: none;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                //border: 10px solid {{ $first_color }};
                //border-image: linear-gradient(to left, {{ $first_color }} 0%, {{ $second_color }} 100%);
                border-image-slice: 1;
                padding: 25px;
                text-align: center;

                &:before {
                    display: none;
                }

            }

            p {
                display: block;
                word-break: normal;
                white-space: normal;
                max-width: 200px;
            }

            h4, p {
                color: #FFFFFF;
            }

            h4 {
                margin-bottom: 20px;
            }
        }
    }
}