.me-client-logo{
			margin-top:20px;
		 img.logo {
    				max-width:200px;
					display: block;
					margin:0 auto;
					padding: 50px 0;
				    -webkit-filter: grayscale(100%) opacity(0.2);
				    filter: grayscale(100%) opacity(0.2);
				    height: auto;
				    max-width:200px;
				    -webkit-transition: all 0.5s ease;
				    -o-transition: all 0.5s ease;
				    -moz-transition: all 0.5s ease;
				    transition: all 0.5s ease;
				}
		img.logo:hover {
				  filter: none;
				  -webkit-filter: grayscale(0%);
				}
			
		img.img_greyscale:hover {
			z-index:-1!important;

        }
        
		}
		

.me-client-logo:before{

			border-bottom:0px!important;
	}
