.turbo-mercuric {
    .me-landing-three-banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        padding: 50px;

        h1, h2, h3, h4, h5, p, span, ul li, i {
            color: inherit !important;
        }

        &--size {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &--me-mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &__content {
            display: block;
            max-width: 580px;
            z-index: 1;

            h1, h2, h3, h4, h5, p, span, ul li {
                margin: 30px 0;

                @media(max-width: 767px) {
                    margin: 30px 15px;
                }
            }
        }

        &__marks {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            z-index: 1;
            margin-top: 30px;
            
            .me-box {
                max-width: 230px;
                margin: 0 50px;

                @media(max-width: 768px) {
                    margin: 15px;
                }

                img {
                    display: block;
                    margin: 0 auto;
                }
                
                h5, p {
                    margin: 10px 0;
                }

                &__context {
                    display: block;
                    margin: 20px 0;
                }
            }

        }

        &__actions {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 80px;

            a {
                margin: 0 10px;

                @media (max-width: 480px) {
                    margin: 10px;
                }
            }
        }
    }
}