.turbo-mercuric {
    .me-brand-slider-wrapper {
        > span {
            display: flex;
            justify-content: center;
            align-items: center;

            .slick-track {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .me-brand-slider {
        display: block;

        &__slider {
            width: 100%;
            text-decoration: none;

            &:before {
                display: none;
            }

            img {
                margin: 0 auto;
            }
        }
    }
}