.turbo-mercuric {
    .me-services-icons {
        transition: all .3s ease-in-out;
        &__content {
            text-align: center;
        }

        &__wrapper-services-box {

            >span {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                text-align: center;
                margin: 50px 0;

                @media (min-width: 991px) {
                    justify-content: space-between;
                }
            }
            .me-box {
                display: block;
                max-width: 230px;
                width: 100%;
                @media (max-width: 992px) {
                    margin: 0 10px 20px;
                }
                i {
                    font-size: rem(80);
                }
                h5 {
                    margin: 20px 0;
                    font-weight: 600;
                }
            }
            a {
                &:before {
                    display: none;
                }
                .me-box {
                    .me-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        margin: 0 auto;
                        &:hover {
                            background-color: hubl("$first_color");
                            i {
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
    }
}