.turbo-mercuric {
    .me-portfolio-box-v2-wrapper {
        > span {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            > div {
                position: relative;
                display: block;
                width: 33.33%;
                max-width: 360px;
                height: 360px;
                margin: 0 10px 20px;

                @media (max-width: 1024px) {
                    width: 50%;
                }

                @media (max-width: 700px) {
                    width: 100%;
                }
            }
        }
    }

    .me-portfolio-box-v2 {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: box-shadow .3s;
        overflow: hidden;
        z-index: 0;

        &:after,
        &:before {
            display: block;
            content: '';
            position: absolute;
            width: 38px;
            height: 1px;
            top: calc(50% - 50px);
            left: calc(50% - 20px);
            background-color: #FFFFFF;
            opacity: 0;
            z-index: 150;
            transition: all .6s;
        }

        &:hover {
            box-shadow: 0px 7px 11.96px 1.04px rgba(0, 0, 0, 0.14);

            &:after {
                transform: rotate(-180deg);
                opacity: 1;
            }

            &:before {
                transform: rotate(90deg);
                opacity: 1;
            }

            .me-portfolio-box-v2 {
                &__mask {
                    opacity: 1;
                }

                &__content {
                    z-index: 2;
                    bottom: 0;
                    transition-delay: 0.5s;
                }
            }
        }

        &__image {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-size: cover;
            background-position: center center;
            transition: all .9s ease;
            z-index: 1;
        }

        &__mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            //background-color: rgba({{ $dark|convert_rgb }},0.78);
            opacity: 0;
            transition: opacity 0.7s;
            z-index: 2;
        }

        &__content {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            min-height: 100px;
            bottom: -200px;
            left: 0px;
            background-color: #FFFFFF;
            padding: 20px 0;
            text-align: left;
            color: #000000;
            transition: all .4s;
            transition-delay: 0s;
            text-decoration: none;
            overflow: hidden;

            &:before {
                display: none;
            }

            > div {
                padding: 0 20px;
            }
        }
    }
}