.turbo-mercuric {
    .me-timeline-item-v2-wrapper {
        > span {
            display: flex;
            position: relative;
            flex-wrap: wrap;
            z-index: 0;

            > div {
                position: relative;
                width: 100%;
                z-index: 5;
            }

            .progress-bar {
                position: absolute; 
                left: calc(50% + -1px);
                top: 40px;
                width: 1px;
                height: 0px;
                background-color: transparent; 
                border-right: 1px dashed hubl("$lightGrey");
                z-index: 1;

                @media (max-width: 1360px) {
                    display: none;
                }
            }
        }
    }

    .me-timeline-item-v2 {
        position: relative;
        width: 100%;
        max-width: 475px;

        @media (max-width: 1360px) {
            max-width: 100%;
            margin-bottom: 50px;
        }

        &__wrapper {
            display: block;
            margin-bottom: 0;
            padding: 25px 0 50px;
            background-repeat: no-repeat;

            @media (max-width: 1360px) {
                background-position-x: right;
                background-size: contain;
            }

            i {
                position: absolute;
                display: block;
                top: 50%;
                transform: translateY(-50%);
                z-index: -1;
            }
        }

        &__text-content {
            width: 100%;
        }

        &__dot-point {

            h5 {
                padding-bottom: 20px;
                font-weight: 600;
                color: hubl("$first_color");

                @media (max-width: 1360px) {
                    text-align: left;
                }
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                top: 38px;
                transform: translateY(-50%);
                background-color: hubl("$first_color");
                border: 1px solid hubl("$first_color");

                @media (max-width: 1360px) {
                    display: none;
                }
            }

            &:before {
                content: '';
                position: absolute;
                display: block;
                width: 9px;
                height: 9px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                top: 38px;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                background-color: hubl("$first_color");
                border: 1px solid hubl("$first_color");
                z-index: 20;

                @media (max-width: 1360px) {
                    display: none;
                }
            }

            span {
                display: block;
                position: absolute;
                width: 62px;
                height: 1px;
                top: 38px;
                background-color: transparent; 
                border-bottom: 1px dashed hubl("$lightGrey");
                transform: translateY(-50%);

                @media (max-width: 1360px) {
                    display: none;
                }
            }
        }

        &.left {
            float: left;

            @media (max-width: 1360px) {
                float: none;
            }

            .me-timeline-item-v2 {
                &__wrapper {
                    background-position-x: left;

                    i {
                        left: 0;
                    }
                }

                &__dot-point,
                &__text-content {
                    text-align: right;
                }

                &__text-content {

                    @media (max-width: 1360px) {
                        text-align: left;
                        margin-left: 25px;
                        order: 2;
                    }
                }

                &__dot-point {
                    
                    span {
                        right: -92px;
                    }

                    &:before {
                        right: -30px;
                    }

                    &:after {
                        right: -97px;
                    }
                }

            }
        }

        &.right {
            float: right;

            @media (max-width: 1360px) {
                float: none;
            }

            .me-timeline-item-v2 {
                &__wrapper {
                    background-position-x: right;

                    i {
                        right: 0;
                    }
                }

                &__content {
                    padding-left: 0px;
                    padding-right: 100px;

                    @media (max-width: 1360px) {
                        text-align: left;
                        margin-right: 25px;
                    }

                    @media (max-width: 1360px) and (max-width: 767px) {
                        margin-right: 0;
                        order: 2;
                    }
                }

                &__dot-point {
                    left: 0;

                    span {
                        left: -92px;
                    }

                    &:before {
                        left: -30px;
                    }

                    &:after {
                        right: auto;
                        left: -98px;
                    }
                }
            }
        }
    }
}