.turbo-mercuric {
    .me-form {
        display: block;
        padding: 70px 50px;
        box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.75);
        background-color: hubl("$lightGrey");

        form {
            input {
                border-bottom: 1px solid #000000;
            }

            label.fake-placeholder {
                color: #000000;
            }

            textarea {
                border-bottom: 1px solid #000000;
            }
        }
    }
}