.turbo-mercuric {

    .timeline-end-text {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        font-size: rem(50);
    }

    .me-timeline-item-wrapper {

        > span {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            z-index: 0;

            > div {
                position: relative;
                width: 100%;
                z-index: 5;
            }

            .progress-bar {
                position: absolute;
                left: calc(50% + 1px);
                top: 0;
                width: 2px;
                height: 0px;
                background-color: hubl("$first_color");
                z-index: 1;

                @media (max-width: 1180px) {
                    display: none;
                }
            }
        }

        .dot-end {
            display: block;
            position: relative;
            left: calc(50% - 7px);
            width: 18px;
            height: 18px;
            background-color: hubl("$first_color");
            border: 1px solid hubl("$first_color");
            border-radius: 50%;
            z-index: 20;

            @media (max-width: 1180px) {
                display: none;
            }
        }

        .text-end {
            position: relative;
            left: 50%;
            padding-left: 50px;
            font-size: rem(50);
            font-weight: 600;
            max-width: 575px;
            color: hubl("$main_font_color");

            @media (max-width: 1180px) {
                display: none;
            }
        }

        .me-timeline-item {
            position: relative;
            width: 100%;
            max-width: 495px;

            @media (max-width: 1180px) {
                max-width: 100%;
            }

            &__dot-point {
                display: block;
                position: absolute;
                width: 18px;
                height: 18px;
                top: 0;
                background-color: hubl("$first_color");
                border: 1px solid hubl("$first_color");
                border-radius: 50%;
                z-index: 20;
                animation-name: colorBg;
                animation-delay: 0.4s;
                animation-duration: 1.5s;
                animation-timing-function: ease-out;

                @media (max-width: 1180px) {
                    display: none;
                }
            }

            &__wrapper {
                margin-bottom: 50px;
            }

            &__text-content {
                margin-bottom: 20px;

                @media (max-width: 1180px) and (max-width: 767px) {
                    width: 100%;
                    margin-bottom: 0px;
                }
            }

            &__image {

                @media (max-width: 1180px) and (max-width: 767px) {
                    min-width: 100%;
                    margin-bottom: 20px;
                }
            }

            &.left {
                float: left;

                @media (max-width: 1180px) {
                    float: none;
                }

                .me-timeline-item__text-content {
                    text-align: right;

                    @media (max-width: 1180px) {
                        text-align: left;
                        margin-left: 25px;
                        order: 2;
                    }

                    @media (max-width: 1180px) and (max-width: 767px) {
                        margin-left: 0;
                    }
                }

                .me-timeline-item__dot-point {
                    right: -86px;
                }
            }

            &.right {
                float: right;

                @media (max-width: 1180px) {
                    float: none;
                }

                .me-timeline-item__dot-point {
                    left: -82px;
                }

                .me-timeline-item__text-content {
                    text-align: left;
                    margin-right: 25px;
                    @media (max-width: 1180px) and (max-width: 767px) {
                        margin-bottom: 0px;
                        order: 2;
                    }
                }
            }
        }
    }
}

@keyframes colorBg {
    from {
        background-color: #fff;
    }
    to {
        background-color: hubl("$first_color");
    }
}