.turbo-mercuric {
    .me-job-contact-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 30px;

        &__image,
        &__content {
            width: 50%;

            @media (max-width: 860px) {
                width: 100%;
            }
        }
        
        &__image {
            img {
                display: block;
                margin: 0 auto;
            }
        }

        &__content {

            @media (max-width: 860px) {
                text-align: center;
                padding-top: 30px;
            }

            h1, h2, h3, h4, h5, h6, p, span, ul li {
                color: #FFFFFF !important;
            }

            a {
                margin-top: 20px;
                &:before {
                    display: none;
                }
            }
        }
    }
}