.turbo-mercuric {
    .me-accordion-wrapper {
        & > span > div {
            &:after {
                display: block;
                content: '';
                border-bottom: 1px solid #f2f2f2;
            }
            &:last-of-type {
                &:after {
                    display: none;
                    content: '';
                    border-bottom: 0px;
                }
            }
            &:first-of-type {
                .accordion-panel.open  {
                    .header {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .me-accordion-panel {
        width: 100%;

        &__header {
            cursor: pointer;
            max-width: 100%;
            border-radius: 0px;
            padding: 0;
            text-transform: uppercase;
            padding: 15px 45px;
            box-shadow: none;
            transition: 0.3s all linear;
            margin-bottom: 0px;
            display: inline-block;
            border-radius: 50px;

            h5 {
                    color: hubl("$main_font_color");
                    text-decoration: none;
                    font-size: inherit;
                    font-weight: bold;
                    display: block;
                    position: relative;
                    padding-right: 50px;
                    font-weight: normal;

                    &:after {
                        content: "";
                        position: absolute;
                        height: 2px;
                        width: 18px;
                        right: -1px;
                        top: 8px;
                        display: block;
                        background: hubl("$first_color");
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        height: 18px;
                        width: 2px;
                        right: 7px;
                        top: 0px;
                        display: block;
                        background: hubl("$first_color");
                        opacity: 0;
                        transition: all ease-in-out 0.3s;
                        transform: rotate(90deg);
                    }

                    &.collapsed {

                        &:before {
                            content: "";
                            position: absolute;
                            height: 18px;
                            width: 2px;
                            right: 7px;
                            top: 0px;
                            display: block;
                            background: hubl("$first_color");
                            opacity: 1;
                            transition: all ease-in-out 0.3s;
                            transform: rotate(0deg);
                        }

                        &:after {
                            content: "";
                            position: absolute;
                            height: 2px;
                            width: 18px;
                            right: -1px;
                            top: 8px;
                            display: block;
                        }
                    }
                
            }

            h5 {

                    transition: all ease-in-out 0.3s;
                    overflow: hidden;
              
            }
        }

        &.open {
            .me-accordion-panel {
                &__header {

                    h5 {
                        a.collapsed {
                            &:before {
                                visibility: hidden;
                            }
                        }
                    }
                }
            }
        }

        &__body {
            display: none;
            padding: 0px 110px 20px 45px;
            max-width: 100%;
            margin: 0 auto;
            p,
            span,
            ul,
            ol {
                width: 100%;
                display: block;
                color: hubl("$second_font_color");
            }

        }
    }
}