.turbo-mercuric {
    .me-hero-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        @media (max-width: 580px) {
            background-attachment: scroll;
            height: auto;
        }
        &--small {
            min-height: 500px;
            @media (max-width: 580px) {
                min-height: 0;
            }
        }
        &--big {
            min-height: 800px;
            @media (max-width: 580px) {
                min-height: 0;
            }
        }
        &--auto {
            min-height: 0;
            height: auto;
        }
        .me-mask {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .78;
            @media (min-width: 1170px) {
                max-height: 570px;
            }
            &--gradient {
                background: linear-gradient(57deg, hubl("$second_color") 20%, hubl("$first_color") 80%);
            }
            &--dark {
                background-color: #000;
            }
        }
        &__content {
            z-index: 2;
        }
    }
    .banner-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        .video-section {
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;
            @media (max-width: 1170px) {
                margin: 0 auto;
            }
            @media (min-width: 768px) {
                max-width: 757px;
                margin-top: 120px;
            }
            .video-container {
                display: block;
                width: 100%;
                .control {
                    display: block;
                    position: absolute;
                    width: 100%;
                    background-color: rgba(41, 41, 53, 0.85);
                    bottom: 0;
                    padding: 23px 50px;
                    border-radius: 5px;
                    @media (max-width: 768px) {
                        padding: 30px;
                    }
                    .video-play {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 60px;
                        transform: translateY(-50%);
                        z-index: 1;
                        text-decoration: none;
                        outline: none;
                        cursor: pointer;
                        &:hover {
                            &:before {
                                content: '';
                                border: 0;
                                width: 0;
                                height: 0;
                                display: none;
                            }
                        }
                        @media (max-width: 768px) {
                            left: 15px;
                        }
                        i {
                            font-size: 60px;
                            color: #FFF;
                            @media (max-width: 768px) {
                                font-size: 40px;
                            }
                        }
                    }
                    .content {
                        margin-left: 100px;
                        @media (max-width: 768px) {
                            margin-left: 60px;
                        }
                        p {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
                &__video {
                    display: block;
                    position: relative;
                    video {
                        display: block;
                        border-radius: 5px;
                    }
                    &--frame {}
                    &--standard {}
                }
            }
        }
        .form-wrapper {
            display: block;
            max-width: 765px;
            margin: 0 auto;
            z-index: 1;
            @media (max-width: 1170px) {
                width: 100%;
            }
            form {
                display: block;
                background: #FFF;
                padding: 50px;
                margin: 70px 0;
                border-radius: 5px;
                -webkit-box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.75);
                @media (max-width: 768px) {
                    padding: 30px;
                }
                @media (max-width: 1170px) {
                    margin: 20px 0;
                }
                >span {
                    @media (max-width: 768px) {
                        width: 100%;
                    }
                }
                @media (max-width: 768px) {
                    margin-top: 25px;
                }
                h2 {
                    padding: 10px 0;
                }
                input {
                    color: #292935;
                    border-bottom: 1px solid #292935;
                    &::placeholder {
                        color: #292935;
                    }
                }
                input[type="submit"] {
                    color: #fff;
                    border: 2px solid #ED145C;
                }
            }
        }
    }
}