.turbo-mercuric {
    .me-306-blog {
        display: block;
        width: 100%;
        padding: 70px 0;
        .blogs-wrapper {
            display: block;
            .blog-box {
                display: block;
                position: relative;
                max-width: 750px;
                width: 100%;
                padding-bottom: 50px;
                &__image {
                    display: block;
                    width: 100%;
                    min-height: 360px;
                    background-size: cover;
                    margin-bottom: 30px;
                }
                &__topics {
                    display: flex;
                    flex-wrap: wrap;
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    @media (max-width: 768px) {
                        left: 0;
                        padding: 0 15px;
                    }
                    a {
                        color: #FFFFFF;
                        font-size: 14px;
                        font-weight: 400;
                        background-color: #ed145b;
                        padding: 5px 10px;
                        border-radius: 30px;
                        margin: 0 10px 5px;
                        @media (max-width: 768px) {
                            margin: 5px;
                        }
                        &:hover {
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
                &__control {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    padding: 18px 20px;
                    background-color: rgba(41, 41, 53, 0.78);
                    margin-bottom: 0;
                    color: #FFFFFF;
                    img {
                        width: 100%;
                        max-width: 45px;
                        max-height: 45px;
                        border-radius: 50%;
                        margin-right: 10px;
                    }
                    .author-link {
                        margin: 0 10px;
                        font-size: 20px;
                        color: #FFFFFF;
                        &:hover {
                            &:before {
                                display: none;
                            }
                        }
                    }
                    .date-published {
                        display: flex;
                        align-items: center;
                        margin-left: auto;
                        @media (max-width: 480px) {
                            margin-right: auto;
                            margin-top: 5px;
                        }
                        i {
                            display: block;
                            color: #FFF;
                            margin: 0 10px;
                            font-size: 24px;
                        }
                    }
                }
                &__content {
                    padding-bottom: 0;
                    h4,
                    p,
                    a {
                        margin-bottom: 50px;
                    }
                    p {
                        font-weight: 400;
                        a {
                            margin: 0;
                        }
                    }
                    a {
                        font-weight: 600;
                        transition: transform 0.4s ease-in-out;
                        &:hover {
                            transform: scale(1.05);
                        }
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
        .cta-image {
            a {
                &:before {
                    display: none;
                }
            }
        }
        .subscribe-side-bar,
        .top-posts,
        .blog-categories {
            display: block;
            padding: 0 0 50px;
        }
        .blog-categories {
            padding-top: 50px;
        }
        .subscribe-side-bar,
        .top-posts,
        .blog-categories,
        .archives {
            h3,
            p {
                margin-bottom: 20px;
            }
            h3 {
                @media (max-width: 992px) {
                    font-size: 36px;
                }
            }
            p {
                font-size: 20px;
                font-weight: 400;
            }
            a {
                color: #FFFFFF;
            }
        }
        .top-posts,
        .blog-categories,
        .archives {
            ul {
                li {
                    margin: 30px 0;
                    &:before {
                        display: none;
                    }
                    a {
                        color: #000000;
                        font-size: 20px;
                        font-weight: 400;
                    }
                }
            }
            a {
                color: #ed145b;
            }
        }
        .top-posts {
            p {
                a {
                    &:hover {
                        &:before {
                            display: inline;
                        }
                    }
                }
            }
            span.me-h3 {
                @media (max-width: 992px) {
                    font-size: 36px;
                }
            }
        }
    }
}