.turbo-mercuric {
    .me-portfolio-wrapper {
        position: relative;
        display: block;
        width: 100%;
    }
    .me-portfolio-nav {
        position: absolute;
        top: calc(50% - 50px);
        right: -85px;
        width: 100%;
        max-width: 60px;
        transform: translateY(-50%);
        margin: 0 auto;

        @media (max-width: 1200px) {
            top: 760px;
            right: 0;
            transform: translateY(0);
            max-width: 300px;
        }

        @media (max-width: 1024px) {
            top: 630px;
        }

        @media (max-width: 1060px) {
            right: 7%;
        }

        @media (max-width: 768px) {
            display: none;
            top: 460px;
        }

        @media (max-width: 480px) {
            display: block;
            top: 400px;
            right: 50%;
            transform: translateX(50%);
        }

        span {
            display: block;
            width: auto;
            height: auto;
            border: none;
            border-bottom: 1px solid transparent;
            margin: 0;
            padding: 10px 5px;
            color: #FFFFFF;
        }

        .slick-current,
        .slick-center {
            border-bottom: 1px solid #FFFFFF;
            opacity: .6;
        }
    }

    .me-portfolio-blur-slider-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: 0;
        overflow: hidden;

        &:after {
            display: block;
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: hubl_rgba( '$dark', 0.77);
        }

        div {
            width: calc(100% + 200px);
            height: calc(100vh + 200px);
            background-size: cover;
            background-position: center center;
            margin-left: -100px;
            margin-top: -100px;
            filter: blur(10px);
        }
    }

    .me-portfolio-slider-v2-wrapper {
        margin-left: 0 !important;
    }

    .me-portfolio-slider {
        position: relative;
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 945px;
        min-height: 100vh;
        height: 100%;
        margin: 0 auto !important;
        padding: 100px 0;
        float: none !important;
        z-index: 5;

        > span {
            max-width: 945px;
            width: 100%;
            margin: 0 auto;

            @media (max-width: 1060px) {
                max-width: 85%;
            }
        }

        .slick-prev,
        .slick-next {

            &:before {
                content: '\e92d';
                position: absolute;
                font-family: 'ClickrayIcons' !important;
                display: block;
                font-size: 20px;
                font-weight: 600;
            }
        }

        .slick-prev {
            top: 10px;
            right: -50px;
            left: auto;
            transition: 0.3s top;

            @media (max-width: 580px) {
                right: -25px;
            }

            &:hover {
                top: 5px;
            }
        }

        .slick-next {
            top: 640px;
            right: -50px;
            transform: rotate(180deg);
            transition: 0.3s top;

            @media (max-width: 1024px) {
                top: 490px;
            }

            @media (max-width: 768px) {
                top: 340px;
            }
            
            @media (max-width: 580px) {
                top: 345px;
                right: -25px;
            }

            @media (max-width: 486px) {
                top: 280px;
            }

            &:hover {
                top: 630px;

                @media (max-width: 1024px) {
                    top: 485px;
                }

                @media (max-width: 768px) {
                    top: 320px;
                }

                @media (max-width: 486px) {
                    top: 285px;
                }
            }
        }
    }

    .me-portfolio-slider-v2 {
        position: relative;
        z-index: 10;

        &__me-slide {
            width: 100%;
            height: 645px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;

            @media (max-width: 1024px) {
                height: 500px;
            }

            @media (max-width: 768px) {
                height: 350px;
            }

            @media (max-width: 486px) {
                height: 300px;
            }

        }

        span {
            display: block;
            text-align: center;
            font-size: rem(42);
            margin-top: 30px;
            color: #FFFFFF;

            @media (max-width: 1200px) {
                text-align: left;
                width: calc(100% - 320px);
            }

            @media (max-width: 768px) {
                width: 100%;
                text-align: center;
                margin-top: 20px;
            }

            @media (max-width: 486px) {
                margin-top: 60px;
            }
        }
    }
}

