.turbo-mercuric {
    .me-feature-item-wrapper {
        > span {
            display: flex;
            flex-wrap: wrap;

            > div {
                width: 50%;

                @media (max-width: 767px) {
                    width: 100%;
                }
            }
        }
    }
    .me-feature-item {
        margin: 10px;
        display: flex;

        &__number {
            font-size: rem(30);
            color: hubl("$first_color");
            text-align: center;
            line-height: 1;
            padding-right: 20px;
        }

        &__content {

            .hs_cos_wrapper_type_inline_rich_text {

                h1, h2, h3, h4, h5, h6, p, li, ul {
                    margin-bottom: rem(10);
                }
            }
        }
    }
}