.turbo-mercuric {
    .me-error {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--banner {
            min-height: 990px;
            background-size: cover;
            background-repeat: no-repeat;
            @media (max-width: 768px) {
                min-height: 600px;
            }
        }
        h1,
        h3,
        p {
            color: #FFFFFF;
            text-align: center;
        }
        h1 {
            font-size: 248px;
            font-weight: 900;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
            @media (max-width: 768px) {
                font-size: 150px;
            }
        }
        h3 {
            font-size: 51px;
            font-weight: 600;
        }
        p {
            font-size: 25px;
            font-weight: 400;
        }
    }
}