.turbo-mercuric {
    .me-icon-text-image-box-wrapper {
        > span {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            @media (max-width: 1120px) {
                justify-content: center;
            }

            > div {
                display: block;
                margin: 0 0 10px;

                @media (min-width: 1120px) {
                    max-width: 360px;
                }

                @media (max-width: 1120px) {
                    width: 50%;
                    padding: 0 10px;
                }

                @media (max-width: 630px) {
                    width: 100%;
                }
            }
        }
    }

    .me-icon-text-image-box {
        display: block;
        padding: 30px 20px 0;
        border: 1px solid #ebebeb;
        border-radius: 5px;

        &__header-box {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;

            i {
                font-size: 50px;
            }
        }

        &__content {
            padding: 0 20px;

            h5 {
                margin-bottom: 10px;
            }
        }

        &__footer-box {
            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
}