.turbo-mercuric {
    .me-banner-with-form {
        position: relative;
        min-height: 450px;
        padding: 80px 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: fixed;
        overflow: hidden;

        &__mask {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // background-color: {{$dark|convert_rgb}};
        }

        .me-color-white {
            position: relative;
            z-index: 2;
        }

        &__form-wrapper {
            margin-top: 60px;
            padding: 0 50px;

            @media (max-width: 1170px) {
                padding: 0 15px;
            }

            form {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-start;
                width: 100%;

                > div {
                    @media (max-width: 900px) {
                        width: 100%;
                    }
                }

                input {
                    max-width: 260px;
                    min-width: 260px;
                    width: 100%;
                    margin: 0 10px;

                    @media (max-width: 900px) {
                        min-width: 100%;
                    }
                }

                input + .fake-placeholder {
                    padding-left: 30px !important;
                }

                .fake-placeholder {
                    bottom: 12px !important;
                }

                input[type=submit] {
                    position: relative;
                    max-width: 160px;
                    margin: 35px 0 10px 0;
                    z-index: 2;
                }

                .hs_error_rollup {
                    display: none;
                }
            }
        }
    }
}