.turbo-mercuric {
    .me-social-icon {
        &__social {
            display: block;
            margin: 20px 0;

            ul {
                li {
                    display: inline-block;
                    float: left;
                    margin-right: 20px;

                    &:before {
                        display: none;
                    }

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 45px;
                        height: 45px;
                        color: hubl("$first_color");
                        border-radius: 50%;
                        font-family: 'FontAwesome';
                        background-color: #FFFFFF;

                        &:before {
                            display: none;
                        }

                        i {
                            font-size: 30px;
                        }
                    }

                    .me-animation {
                        &--base {
                            background-color: hubl("$first_color");
                            color: #FFFFFF;
                            &:hover {
                                border: 1px solid hubl("$first_color");
                                box-shadow: 0px 0px 40px 3.5px rgba(100, 22, 48, 0.18);
                                transform: translateY(-5px);
                            }
                        }

                        &--light {
                            &:hover {
                                background-color: #FFFFFF;
                                color: #000000;
                                box-shadow: 0px 0px 40px 3.5px rgba(100, 22, 48, 0.18);
                                transform: translateY(-5px);
                            }
                        }

                        &--simple {
                            background-color: transparent;
                            &:hover {
                                border: 1px solid hubl("$first_color");
                                background-color: hubl("$first_color");
                                box-shadow: 0px 0px 40px 3.5px rgba(100, 22, 48, 0.18);
                                color: #FFFFFF;
                            }
                        }

                        &--normal {
                            &:hover {
                                border: 0;
                                background-color: none;
                                box-shadow: 0;
                                transform: translateY(-5px);
                            }
                        }
                    }
                }
            }
        }
    }
}