.turbo-mercuric {
    .me-category-filter {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        &__content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;

            @media (max-width: 768px) {
                flex-direction: column;
            }
            p {
                font-size: 25px;
                color: #000000;
                font-weight: 600;
                white-space: nowrap;
                @media (max-width: 768px) {
                    margin-bottom: 30px;
                }
            }
        }
        &__wrapper-category {
            display: inline-block;
            ul {
                li {
                    float: left;
                    min-width: 110px;
                    background-color: #ed145b;
                    border: 1px solid #ed145b;
                    padding: 5px 50px;
                    border-radius: 25px;
                    margin: 0 10px;
                    color: #FFFFFF;
                    text-align: center;
                    font-weight: 500;
                    margin-bottom: 10px;

                    @media (min-width: 540px) and (max-width: 940px) {
                        margin-bottom: 20px;
                    }
                    @media (max-width: 540px) {
                        float: none;
                        margin: 0 auto 20px;
                    }
                    &:before {
                        display: none;
                    }

                    &:hover {
                        background-color: #FFFFFF;
                        color: #ed145b;
                    }
                }

                .me-active {
                    background-color: #FFFFFF;
                    color: #ed145b;
                }
            }
        }
    }
}