.turbo-mercuric {
    .me-icon-counter {
        display: flex;
        margin: 10px 0;

        &__image {
            display: block;
            margin-right: 10px;
        }

        &__content {
            h1, h2, h3, h4, h5, h6, span, p, ul li {
                color: inherit;
            }

            span {
                line-height: 1.2;
                font-weight: 600;
            }
        }
    }
}