.turbo-mercuric {
    .me-icon-list-grid-box-wrapper {
        position: relative;

        &:after {
            position: absolute;
            display: block;
            content: '';
            width: 100%;
            height: 1px;
            bottom: 0;
            background-color: #FFFFFF;
        }
        > span {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            > div {
                width: 33.33%;
                border-bottom: 1px solid hubl("$second_font_color");
                border-right: 1px solid hubl("$second_font_color");

                @media (max-width: 767px) {
                    width: 50%;
                    border-right: 1px solid hubl("$second_font_color");

                    &:nth-child(2n) {
                        border-right: 0;
                    }
                }

                @media (max-width: 480px) {
                    width: 100%;
                    border-right: 0;

                    &:nth-last-child(1) {
                        border-bottom: 0;
                    }
                }

                @media (min-width: 767px) {
                    &:nth-child(3n) {
                        border-right: 0;
                    }
                }
            }
        }
    }

    .me-icon-list-grid-box {
        display: block;
        padding: 50px;

        &__icon {
            display: block;
            text-align: center;

            i {
                font-size: rem(70);
                margin: 20px 0;
                color: inherit;
            }
        }

        &__content {
            text-align: center;
            padding: 0 30px;

            @media (max-width: 1000px) {
                padding: 0;
            }

            p {
                margin-top: 10px;
                font-weight: 400;
            }
        }
    }
}