.turbo-mercuric {
    .me-avatar-text {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;

        @media (max-width: 767px) {
            margin: 30px 0;
        }

        &__avatar {
            margin-right: 20px;
        }
    }
}